<mat-toolbar [ngClass]="scrolled ? 'scrolledToolbar' : 'defaultToolbar'" (window:scroll)="onWindowScroll($event)">
  <img id="navLogo" src="../../assets/images/Paragon_V3-white.png" alt="">
  <div class="navLinks">
    <!-- Home Button-->
    <a mat-button class="navLink">Home</a>
    <!-- About us Menu -->
    <a mat-button class="navLink" [matMenuTriggerFor]="aboutUsMenu"> About Us <mat-icon>arrow_drop_down</mat-icon> </a>
    <mat-menu #aboutUsMenu="matMenu" class="navLink">
      <a mat-menu-item>Item 1</a>
      <a mat-menu-item>Item 2</a>
    </mat-menu>
    <!-- Products Menu -->
    <a mat-button class="navLink" [matMenuTriggerFor]="productsMenu">Products</a>
    <mat-menu #productsMenu="matMenu" class="navLink">
      <a mat-menu-item>Item 1</a>
      <a mat-menu-item>Item 2</a>
    </mat-menu>
    <!-- Markets Menu -->
    <a mat-button class="navLink" [matMenuTriggerFor]="marketsMenu">Markets</a>
    <mat-menu #marketsMenu="matMenu" class="navLink">
      <a mat-menu-item>Item 1</a>
      <a mat-menu-item>Item 2</a>
    </mat-menu>
    <!-- Servuces Menu -->
    <a mat-button class="navLink" [matMenuTriggerFor]="servicesMenu">Services</a>
    <mat-menu #servicesMenu="matMenu" class="navLink">
      <a mat-menu-item>Item 1</a>
      <a mat-menu-item>Item 2</a>
    </mat-menu>
    <!-- Recourses Menu -->
    <a mat-button class="navLink" [matMenuTriggerFor]="recoursesMenu">Resourses</a>
    <mat-menu #recoursesMenu="matMenu" class="navLink">
      <a mat-menu-item>Item 1</a>
      <a mat-menu-item>Item 2</a>
    </mat-menu>
    <!-- Contact Button -->
    <a mat-button class="navLink">Contact</a>
  </div>
  <div class="searchBar">
    <mat-icon>search</mat-icon>
  </div>
  <div class="contactDetails">
    <div class="contactIconRing">
      <mat-icon class="contactIcon">phone</mat-icon>
    </div>
    <div>
      <p class="mat-headline-3">+44 (0)1245 280 448</p>
      <p class="mat-headline-4">info@paragon-security.com</p>
    </div>
  </div>
</mat-toolbar>