<app-hero 
  mainTitle="Certifications"
  lowerTitle="comprehensive Solutions for any security requirements"
  [isButtons]="true" background="./assets/images/heroBackgrounds/homeHero.png" [button1Data]="{
		text: 'Explore Our Products',
		path: 'products/top',
		type: 'blue'
	}" [button2Data]="{ text: 'Explore Our Markets', path: 'markets', type: 'black' }" [isButton3]="true" [button3Data]="{
		text: 'Explore Our Services',
		path: 'services',
		type: 'white'
	}"
    [centred]="true"
    extraStyle="shorterHero"
    ></app-hero>

<section class="container">
    <table *ngFor="let item of atex" mat-table [dataSource]="item.data" class="mat-elevation-z8">

		<!--- Note that these columns can be defined in any order.
			  The actual rendered columns are set as a property on the row definition" -->
	  
		<!-- Position Column -->
		<ng-container matColumnDef="Header">
		  <th mat-header-cell *matHeaderCellDef> Header </th>
		  <td mat-cell *matCellDef="let element"> {{element.Heading}} </td>
		</ng-container>

		<ng-container matColumnDef="Mark">
			<th mat-header-cell *matHeaderCellDef> Mark </th>
			<td mat-cell *matCellDef="let element"> {{element.Mark}} </td>
		  </ng-container>

		  <ng-container matColumnDef="Use">
			<th mat-header-cell *matHeaderCellDef> Use </th>
			<td mat-cell *matCellDef="let element"> {{element.Use}} </td>
		  </ng-container>
		  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 		 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	  </table>
</section>