.container{
    display: flex;
    padding-top: 5vh;
    padding-right: 5vw;
    padding-left:1vw;
    font-family: 'roboto';
}
.info-side{
    width: 70vw;
    padding: auto;
}
.bonus-cards{
    width:20vw;
    padding-right: 2vw;
}
h1{
    font-size: 1.75rem;
}


p{
    color: #9B9B9B;
}
// General Bonus Card Styling
.bonus-card-title{
    margin-bottom: 1rem;
}

// Navigation Pannel
.navigation-pannel{
    border-radius: 0px;
    padding: 7%;
}
.nav-button-container{
    display:contents !important;
    width: 100%;
    padding-top: 10%;
}
.nav-button{
    padding-left: 7%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 93%;
    text-decoration: none;
    color: white;
    background-color: #1B1A1A;
    margin-top: 2%;
    font-family: 'Roboto';
    font-size: small;
    font-style: bold;
}
.nav-button-icon{ 
    float: right;
    margin-right: 5%;
    margin-top: inherit;
}
.page-active{
    background-color: #0065E7;
}




@media screen and (max-width: 750px) {
    .container {
        display: block;
    }
    .info-side{
        margin: auto;
        width: 80vw;
    }
    .bonus-cards{
        width: 80vw;
        margin: auto;
    }
}
