<app-hero
	*ngIf="pageData !== undefined && isHero == true"
	[mainTitle]="pageData.name"
	[secondaryTitle]="pageData.secondry_title"
	[lowerTitle]="pageData.lower_title"
	[isButtons]="true"
	[background]="pageData.banner_image"
	extraStyle="shorterHero"
	[button1Data]="{
		text: 'Book A Call',
		path: '/contactForm',
		type: 'black',
	}"
	[scheduled]="true"
	></app-hero>
<!-- <app-breadcrumbs [history]="history"></app-breadcrumbs> -->
<section
	class="container"
	*ngIf="pageData !== undefined"
	>
	<section class="bonus-cards">
		<!-- Navigation -->
		
		<mat-card
			class="navigation-pannel bonus-card-white-accent"
			*ngIf="siblingPages.length > 1"
			>
			<mat-card-header>
				<mat-card-title
					class="bonus-card-title"
					*ngIf="pageType.length < 13"
					>{{ pageType | nameConverter }}s</mat-card-title
				>
			</mat-card-header>
			<div class="nav-button-container">
				<mat-accordion>
					<ng-container *ngFor="let page of siblingPages">
						<mat-expansion-panel  *ngIf="page.pages.length > 1 " [expanded]="(page._id == pageId)"
						routerLink="/info-page/{{pageType}}/{{page._id}}">
						<mat-expansion-panel-header >
							<mat-panel-title>
								{{ page.name }}
							</mat-panel-title>
						</mat-expansion-panel-header>
							<button mat-flat-button class="nav-button"  *ngFor="let subPage of page.pages" (click)="selectPage(subPage?.id?._id)" [ngClass]="{'page-active': subPage?.id?._id === activeSubPageId}" class="subPageItem sub-{{subPage?.id?._id}}" >{{subPage?.id?.name}}</button>
						</mat-expansion-panel>
					</ng-container>

					
				  </mat-accordion>
					<ng-container *ngFor="let page of siblingPages">
						<button mat-flat-button class="nav-button" routerLinkActive="page-active" *ngIf="page.pages.length == 1" routerLink="/info-page/{{pageType}}/{{page._id}}">
							{{page.name}}
						</button>
					</ng-container>
			</div>
			
			
		</mat-card>
		<app-bonus-card [card]="pageType"></app-bonus-card>
	</section>

	<section class="info-side">
		<app-sub-page *ngIf="activeSubPageId !== undefined" [subPage]="activeSubPageId"></app-sub-page>
		<app-similar-products [categoryId]="suggestedProducts"></app-similar-products>
	</section>
</section>

<app-quote-form></app-quote-form>
