<app-hero
    *ngIf="pageData !== undefined"
    [mainTitle]="pageData.name"
    [secondaryTitle]="pageData.secondry_title"
    [lowerTitle]="pageData.lower_title"
    [isButtons]="false"
    [background]="pageData.banner_image"
    ></app-hero>
    <!-- <app-breadcrumbs [history]="history"></app-breadcrumbs> -->
<section class="container">
    <section class="bonus-cards">

        <!-- Navigation -->
        <mat-card class="navigation-pannel bonus-card-white-accent" *ngIf="subPages.length > 1">
            <mat-card-header>
                <mat-card-title class="bonus-card-title">{{pageData.name | nameConverter}} {{pageType |nameConverter}}</mat-card-title>
            </mat-card-header>
            <div class="nav-button-container" > 
                <a class="nav-button" *ngFor="let page of subPages" [routerLink]="page.id" (click)="selectPage(page.id)"  [ngClass]="{'page-active': page.id == activeSubPageId}">{{page.name}} <img class="nav-button-icon" src="./assets/images/customIcons/right-arrow-icon.svg" alt=""></a>
            </div>
        </mat-card>
        <mat-card class="navigation-pannel bonus-card-white-accent" *ngIf="subPages.length <= 1">
            <mat-card-header>
                <mat-card-title class="bonus-card-title">other {{pageType |nameConverter}}'s</mat-card-title>
            </mat-card-header>
            <div class="nav-button-container" > 
                <a class="nav-button" *ngFor="let page of siblingPages" [routerLink]="'/info-page/'+pageType+'/'+page._id" (click)="selectPage(page.id)"  [ngClass]="{'page-active': page.id == activeSubPageId}">{{page.name}} <img class="nav-button-icon" src="./assets/images/customIcons/right-arrow-icon.svg" alt=""></a>
            </div>
        </mat-card>
        <app-bonus-card *ngFor="let card of bonusCards" [card]="card.id"></app-bonus-card>
    </section>




    <section class="info-side">


        <router-outlet></router-outlet>
    </section>

</section>

<app-quote-form></app-quote-form>