<app-hero
	*ngIf="pageData !== undefined && isHero == true"
	[mainTitle]="pageData.name"
	[secondaryTitle]="pageData.secondry_title"
	[lowerTitle]="pageData.lower_title"
	[isButtons]="true"
	[background]="pageData.banner_image"
	extraStyle="shorterHero"
	[button1Data]="{
		text: 'Book A Call',
		path: './contactForm',
		type: 'black'
	}"></app-hero>
<!-- <app-breadcrumbs [history]="history"></app-breadcrumbs> -->
<section
	class="container"
	*ngIf="pageData !== undefined"
	>
	<section class="bonus-cards">
		<!-- Navigation -->
		
		<mat-card
			class="navigation-pannel bonus-card-white-accent"
			*ngIf="siblingPages.length > 1"
			>
			<mat-card-header>
				<mat-card-title
					class="bonus-card-title"
					*ngIf="pageType.length < 13"
					>{{ pageType | nameConverter }}s</mat-card-title
				>
			</mat-card-header>
			<div class="nav-button-container">
				<mat-accordion>
					<mat-expansion-panel *ngFor="let page of siblingPages" [expanded]="(page._id == pageId)"
						routerLink="/info-page/{{pageType}}/{{page._id}}">
					  <mat-expansion-panel-header>
						<mat-panel-title>
							{{ page.name }}
						</mat-panel-title>
					  </mat-expansion-panel-header>
					  <mat-list>
						<mat-list-item  *ngFor="let subPage of page.pages" (click)="selectPage(subPage?.id?._id)" class="subPageItem sub-{{subPage?.id?._id}}" href="#main-info">{{subPage?.id?.name}}</mat-list-item>
					  </mat-list>
					</mat-expansion-panel>
				  </mat-accordion>
				<!-- <a
					class="nav-button"
					
					routerLinkActive="page-active"
					>{{ page.name }}
					<img
						class="nav-button-icon"
						src="./assets/images/customIcons/right-arrow-icon.svg"
						alt=""
				/></a> -->
			</div>
		</mat-card>
		<app-bonus-card [card]="pageType"></app-bonus-card>
	</section>

	<section class="info-side">
		<app-sub-page *ngIf="activeSubPageId !== undefined" [subPage]="activeSubPageId"></app-sub-page>
		<app-similar-products [categoryId]="suggestedProducts"></app-similar-products>
	</section>
</section>

<app-quote-form></app-quote-form>
