<div class="carousel-container">
	<div
		class="carousel-track"
		[@carouselAnimation]="containerTransitionState"
		#carouseltrack>
		<ng-container *ngFor="let slideGroup of visibleSlidesGroups;">
			<div class="slide-group" >
				<mat-card
					class="slide selectable"
					*ngFor="let slide of slideGroup" 
					routerLink="/info-page/{{slide.type}}/{{slide._id}}">
					<!-- Add your slide content here, e.g., slide.thumbnail_image and slide.name -->
					<img
						[src]="slide.thumbnail_image"
						[alt]="slide.name" />
					<h2>{{ slide.name }}

					</h2>
					<span>Explore </span>
				</mat-card>
			</div>
		</ng-container>
	</div>
	<div class="button-wrapper">
		<div class="slideButtonContainer">
			<button (click)="onPrev()"  class="slideButton">
		<img

		  src="./assets/images/customIcons/prev-slide.svg"
		  alt="" />
	  </button>
	  <button  (click)="onNext()" class="slideButton">
		<img
		  src="./assets/images/customIcons/next-slide.svg"
		  alt="" />
	  </button>
</div>
