<div class="carousel-container">
	<div
		class="carousel-track"
		[@carouselAnimation]="containerTransitionState"
		#carouseltrack>
		<ng-container *ngFor="let slideGroup of visibleSlidesGroups">
			<div class="slide-group">
				<div
					class="slide"
					*ngFor="let slide of slideGroup">
					<!-- Add your slide content here, e.g., slide.thumbnail_image and slide.name -->
					<img
						[src]="slide.thumbnail_image"
						[alt]="slide.name" />
					<h3>{{ slide.name }}</h3>
				</div>
			</div>
		</ng-container>
	</div>
	<div class="button-wrapper">
		<button (click)="onPrev()">Back</button>
		<button (click)="onNext()">Forward</button>
	</div>
</div>

