.carousel-container {
	display: flex;
	flex-direction: column;
	gap: 1em;

	overflow: hidden;
}

.slider-contaioner {
	overflow: hidden;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel-track {
	display: flex;
	// transition: transform 500ms ease;
}

.slide-group {
	width: 100vw;
	display: contents;
	flex-direction: row;
	gap: 5%;
	padding: 0 0.5em
}
.slide {
	border: 1px solid #31353db0;

	transition: background-color 500ms linear;
}


.slide{
	width: 25% ;
	margin-right: 5%;
	margin-bottom: 1.6%;
	display: inline-table;
}
.slide img {
	height: 20vh;
	object-fit: cover;
	background-color: white;
}

.slide h2 {
	padding-left: 2vh;
	margin-left: 5%;
	font-size: larger;
	width: -webkit-fill-available;
}

.slide span {
	padding-bottom: 2vh;
	padding-left: 2vh;
	margin-left: 5%;
	width: auto;
	display: flex;
	margin-top: auto;
	gap: 5%;
}


// Category slide buttons
.relatedCategoryButtons {
	margin-top: 1.31%;
	display: flow-root;
}

.slideButtonContainer {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}


.categoryButtons {
	margin-bottom: 5rem;
	display: contents;
}


.slideButton {
	height: min-content;
	background-color: transparent;
	border: none;
}

.slideButton img:hover {
	box-shadow: 0 0 0 0 rgb(156, 156, 156);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(156,
				156,
				156, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(156,
				156,
				156, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(156,
				156,
				156, 0);
	}
}

.slideButton img {
	background-color: transparent;
	border-radius: 50%;

}
