<app-hero
    mainTitle="Marine"
    secondaryTitle="Comprehensive solutions for any security requirements"
    [isButtons]="false"
    background="./assets/images/heroBackgrounds/marketsDemoHero.jpg"
    ></app-hero>

<section class="information-Section">
    <h2>Specialists in CCTV systems for Marine (Onshore and Offshore) and Oil & Gas</h2>
    <p>Organisations operating in the Marine and Oil & Gas sectors require fully comprehensive and long-lasting CCTV systems that can optimise safety and security whilst boosting productivity. <br><br>

        Our wide range of specialised and certified marine and explosionproof cameras, both fixed and PTZ, provides the highest degree of protection. Operators can continuously monitor critical areas and quickly detect abnormal or dangerous situations - taking immediate action to reduce the chance of an incident. <br><br>
        
        Our CCTV systems are designed to be installed in Coastal, Marine (onshore and offshore) and hazardous locations to prevent, respond, and enable investigation of security incidents. Staff can patrol and view critical assets. Our cameras can increase operators’ security, prevent incidents and ensure effective investigations. <br><br>
        
        CCTV cameras, enclosures and accessories are IP66/IP67/IP68/IP69 rated and intended for coastal and marine applications. Our explosionproof cameras are suitable for use in ATEX zones 1 and 2. <br><br>
        
        Our safe and hazardous area camera housings can integrate a wide range of optical day/night, thermal cameras and lenses. They are protected against sea water, corrosion and extreme weather conditions. ONVIF compliance is guaranteed ensuring compatibility with 3rd party CCTV systems if required. <br><br>
        
        Clients can monitor, prevent and quickly respond to security incidents that may endanger sites and put staff and systems at risk. Camera stations are equipped with artificial intelligence (AI), can assure cybersecurity and can detect, record and transmit intelligent data using our Security Management Systems to drive operational efficiency.</p>

</section>
<section class="information-Section">
    <h1>MARINE</h1>
    <p>We have the expertise to address the complex issues of maritime applications with a wide range of specialist products and systems for professional video surveillance. Designed to withstand the most corrosive atmospheres, our cameras can be installed in marine environments onshore and offshore.<br><br>

        Organisations operating in coastal and marine environments require fully comprehensive and long-lasting CCTV systems that can enhance safety and security whilst optimising productivity.<br><br>
        
        We offer a full range of stainless steel (AISI316L) and marine paint finish marine surveillance camera stations, equipment and accessories specifically designed to be installed in highly corrosive environments typical of the marine sector.<br><br>
        
        Our products are designed to withstand harsh weather conditions, saltwater corrosion, and are each specially tested to rigorous IP67/68/69 standards. They are impervious to water, dust, shock, vibration and high impact.</p>

</section>
<app-quote-form></app-quote-form>