.information-Section{
    height:min-content;
    padding: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;

    font-family: 'roboto';
    
}
.information-Section p{
    font-size: 1rem;
    white-space: pre-line;
}
h1{
    text-decoration: underline;
    color:#093273;
}
h2{
    color:#093273;
}