<app-hero
    mainTitle="Contact Us"
    secondaryTitle="Communication is At The Forefront of Everything We Do"
    lowerTitle="Paragon Security offers a comprehensive range of security products intended to meet the demanding requirements of clients in the United Kingdom, Europe and the World."

    [isButtons]="true"
    background="./assets/images/heroBackgrounds/contactHero.png"
    [button1Data]="{text:'Request a Call', path:'', type:'white'}"
    [button2Data]="{text:'Contact Us', path:'/contactFrom', type:'outline'}"

    [isButton3]="false"
    [button3Data]="{text:'Explore Our Services', path:'services', type:'white'}"
></app-hero>
<!-- <app-breadcrumbs [history]="history"></app-breadcrumbs> -->
<section class="container">
    <section class="bonus-cards">
        <mat-card class="bonus-card-dark">
            <mat-card-header>
                <mat-card-title class="bonus-card-title">Global Headquaters</mat-card-title>

            </mat-card-header>

        </mat-card>
    </section>
    <section class="info-side">

    </section>

</section>
