<nav class="dropdown-list w-dropdown-list">
  <a href="/products/cctv/cameras" class="dropdown-link w-dropdown-link">Cameras</a>
  <a href="/products/cctv/camera-housings" class="dropdown-link w-dropdown-link">Camera Housings</a>
  <a href="/products/cctv/cctv-camera-accessories" class="dropdown-link w-dropdown-link">CCTV-Camera Accessories</a>
  <a href="/products/cctv/cctv-nvr" class="dropdown-link w-dropdown-link">CCTV Recording</a>
  <a href="/products/cctv/cctv-nvr-storage" class="dropdown-link w-dropdown-link">CCTV Storage</a>
  <a href="/products/cctv/cctv-monitors" class="dropdown-link w-dropdown-link">CCTV Monitors</a>
  <a href="/products/cctv/cctv-transmission" class="dropdown-link w-dropdown-link">CCTV Transmission</a>
  <a href="/products/cctv/cctv-ancillaries" class="dropdown-link w-dropdown-link">CCTV Ancillary</a>
  <a href="/products/cctv/security-management-software" class="dropdown-link w-dropdown-link">Security
    Management Software</a>
</nav>