<section class="footerMain">

    <div class="footerCol">
        <h1>Quick Contact</h1>
        <p>If you have any questions or need help, feel free to contact with our team.</p>
        
        <!-- spocial Medias -->
        <div class="socialIconGroup">
            <a><img class="socialIcon" src="../../assets/images/socialMedias/facebook.svg" alt=""></a>
            <a><img class="socialIcon" src="../../assets/images/socialMedias/twitter.svg" alt=""></a>
            <a><img class="socialIcon" src="../../assets/images/socialMedias/linkedin.svg" alt=""></a>
            <a><img class="socialIcon" src="../../assets/images/socialMedias/whatsapp.svg" alt=""></a>
            <a><img class="socialIcon" src="../../assets/images/socialMedias/mail.png" alt=""></a>
        </div>
        <div class="contactDetail"><mat-icon class="contactIcon">mail</mat-icon><h1>info@paragon-security.com</h1></div>
        <div class="contactDetail"><mat-icon class="contactIcon">phone</mat-icon><h1>+44 (0)1245 210 914</h1></div>
        <p>Swift House, 18 Hoffmanns Way, <br> Chelmsford, Es   sex,<br> United Kingdom, CM1 1GU</p>
        <div class="contactDetail"><mat-icon class="contactIcon">place</mat-icon><h3>Get Directions</h3></div>
        <p>Company Reg. No. 0745040</p>
    </div>
    <div class="footerCol">
        <h1>Company</h1>
        <a href=""><p>About Us</p></a>
        <a href=""><p>Jobs</p></a>
        <a href=""><p>Modern Slavery</p></a>
        <a href=""><p>Inclusion & Diversity</p></a>
        <a href=""><p>Sustainability</p></a>
        <a href=""><p>Cybersecurity</p></a>
        <a href=""><p>Corporate Social Responsibility</p></a>

    </div>
    <div class="footerCol">
        <h1>Categories</h1>
        <a href=""><p>Products</p></a>
        <a href=""><p>Markets</p></a>
        <a href=""><p>Services</p></a>
        <a href=""><p>News</p></a>
        <a href=""><p>Careers</p></a>
        <a href=""><p>Media</p></a>
        <a href=""><p>Sitemap</p></a>

    </div>
    <div class="footerCol">
        <h1>Resources</h1>
        <a href=""><p>Tools</p></a>
        <a href=""><p>Gallery</p></a>
        <a href=""><p>Datasheets</p></a>
        <a href=""><p>Case Studies</p></a>
    </div>
    <div class="footerCol">
        <h1>Have A Project?</h1>
        <button class="quoteButton" mat-raised-button color="primary">Get A Quote</button>
    </div>
</section>