<section class="footerMain">
	<div class="column-wrapper">
		<div class="footerCol contact-col">
			<h1>Quick Contact</h1>
			<p>
				If you have any questions or need help, feel free to contact with our team.
			</p>

			<!-- spocial Medias -->
			<div class="socialIconGroup">
				<a class="icon-link"
					><img
						class="socialIcon"
						src="./assets/images/socialMedias/facebook.svg"
						alt=""
				/></a>
				<a class="icon-link"
					><img
						class="socialIcon"
						src="./assets/images/socialMedias/twitter.svg"
						alt=""
				/></a>
				<a class="icon-link"
					><img
						class="socialIcon"
						src="./assets/images/socialMedias/linkedin.svg"
						alt=""
				/></a>
				<a class="icon-link"
					><img
						class="socialIcon"
						src="./assets/images/socialMedias/whatsapp.svg"
						alt=""
				/></a>

			</div>
			<div class="contactDetail">
				<mat-icon class="contactIcon">mail</mat-icon>
				<a href="mailto:info@paragon-security.com"
					><h2>info@paragon-security.com</h2></a
				>
			</div>
			<div class="contactDetail">
				<mat-icon class="contactIcon">phone</mat-icon>
				<a href="00441245210914"> <h2>+44 (0)1245 210 914</h2></a>
			</div>

			<div class="contactDetail">
				<mat-icon class="contactIcon">place</mat-icon>
				<h3>Get Directions</h3>
			</div>
		</div>
		<div class="outer-middle-col">
			<div class="footerCol link-col">
				<h1>Company</h1>
				<a routerLink="/"><p>About Us</p></a>
				<a href=""><p>Careers</p></a>
				<a href=""><p>Modern Slavery</p></a>
				<a href=""><p>Inclusion & Diversity</p></a>
				<a href=""><p>Sustainability</p></a>
				<a href=""><p>Cybersecurity</p></a>
				<a href=""><p>Corporate Social Responsibility</p></a>
			</div>
			<div class="footerCol link-col">
				<h1>Categories</h1>
				<a href=""><p>Products</p></a>
				<a href=""><p>Markets</p></a>
				<a href=""><p>Services</p></a>
				<a href=""><p>News</p></a>
				<a href=""><p>Sitemap</p></a>
			</div>
			<div class="footerCol link-col">
				<h1>Resources</h1>
				<a href=""><p>Tools</p></a>
				<a href=""><p>Gallery</p></a>
				<a href=""><p>Datasheets</p></a>
				<a href=""><p>Case Studies</p></a>
				<a href=""><p>Media</p></a>
			</div>
		</div>

		<div class="footerCol quote-col">
			<h1>Have A Project?</h1>
			<button
				class="quoteButton"
				mat-raised-button
				color="primary">
				Get A Quote
			</button>
		</div>
	</div>
	<div class="company-info">
		<p class="address">
			Paragon Security Limited, 1 Mayfly Way, Evolve Business Park, Colchester, Essex, CO7 7WX, United Kingdom
		</p>
		<p class="reg-no">Company Reg. No. 0745040</p>
	</div>
	<br />
</section>

