<app-hero
    mainTitle="Marine"
    secondaryTitle="Specialists in CCTV systems for the 
    Marine Industry (Onshore and Offshore)"
    lowerTitle = "Organisations operating in the Marine and Oil & Gas sectors require fully comprehensive and long-lasting CCTV systems that can optimise safety and security whilst boosting productivity.
    Our wide range of specialised and certified marine and explosionproof cameras provides the highest degree of protection."
    [isButtons]="false"
    background="./assets/images/heroBackgrounds/marketsDemoHero.jpg"
    ></app-hero>
<section class="container">
    <section class="bonus-cards">
        <mat-card class="navigation-pannel">
            <mat-card-header>
                <mat-card-title class="bonus-card-title">Marine Markets</mat-card-title>
            </mat-card-header>
            <div class="nav-button-container">
                <a class="nav-button" routerLink="main" routerLinkActive="page-active">Marine <img class="nav-button-icon" src="./assets/images/customIcons/right-arrow-icon.svg" alt=""></a>
                <a class="nav-button" routerLink="onShore" routerLinkActive="page-active">Marine onShore <img class="nav-button-icon" src="./assets/images/customIcons/right-arrow-icon.svg" alt=""></a>
                <a class="nav-button" routerLink="offShore" routerLinkActive="page-active">Marine offShore <img class="nav-button-icon" src="./assets/images/customIcons/right-arrow-icon.svg" alt=""></a>
                <a class="nav-button" routerLink="Naval" routerLinkActive="page-active">Marine Naval <img class="nav-button-icon" src="./assets/images/customIcons/right-arrow-icon.svg" alt=""></a>
                <a class="nav-button" routerLink="Oil & Gas" routerLinkActive="page-active">Oil & Gas <img class="nav-button-icon" src="./assets/images/customIcons/right-arrow-icon.svg" alt=""></a>
            </div>
        </mat-card>
    </section>
    <section class="info-side">
        <router-outlet></router-outlet>
    </section>

</section>

<app-quote-form></app-quote-form>