.container{
    display: flex;
    padding-top: 5vh;
    padding-right: 5vw;
    padding-left:5vw;
    font-family: 'roboto';
}
.info-side{
    width: 70vw;
    padding: auto;
}
.bonus-cards{
    width:15vw;
    padding-right: 5vw;
}
h1{
    font-size: 1.75rem;
}

h2{
    color:#093273;
}
p{
    color: #9B9B9B;
}

// Navigation Pannel
.navigation-pannel{
    border-radius: 0px;
    padding: 7%;
}



// Modular Styling Clases
.image-Section{
    display: flow-root;

}
.image-Section .image{
    margin: 2%;
    width: 46%;
}


@media screen and (max-width: 750px) {
    .container {
        display: block;
    }
    .info-side{
        margin: auto;
        width: 80vw;
    }
    .info-side h1{
        text-align: center;
    }
}