
<div *ngIf="card !== 'contact'">
    <mat-card class="bonus-card bonus-card-blue">
        <mat-card-header>
            <mat-card-title>
                Tailored Solutions For
                Your Security Priorities
            </mat-card-title>
        </mat-card-header>
        <p>We will design, install, and upgrade
            solutions to meet business specific
            needs and budgets from large.</p>

        <h4><mat-icon>phone</mat-icon> +44 (0)1245 210 914</h4>
        <div class="buttons">
            <div class="nav-button-container">
                <a class="nav-button">Get Started Now <img class="nav-button-icon"
                        src="./assets/images/customIcons/right-arrow-icon.svg" alt=""></a>
            </div>
        </div>
    </mat-card>
    

    <mat-card class="bonus-card">
        <mat-card-header>
            <mat-card-title>
                Download Brochure
            </mat-card-title>
        </mat-card-header>
        <div class="buttons">
            <div class="nav-button-container">
                <a class="file-button nav-color-when-blue"> <img class="file-button-icon" src="./assets/images/customIcons/pdfIcon.svg" alt=""> Our Report 2023</a>
                <a class="file-button nav-color-when-black"> <img class="file-button-icon" src="./assets/images/customIcons/pdfIcon.svg" alt="">Company Brochure </a>
            </div>
        </div>
    </mat-card>
</div>
