.bonus-card-title{
    margin-bottom: 1rem;
}

.bonus-card{
    margin-top: 3vh;
    border-radius: 0px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vw ;
}

.bonus-card-blue{
    background-color: #0065E7 ;
    color:white;
}


// Buttons
.nav-button-container{
    display:grid !important;
    width: 100%;
}
.nav-button{
    padding-left: 7%;
    padding-top: 0.70rem;
    padding-bottom: 0.75rem;
    width: 93%;
    text-decoration: none;
    background-color: #1B1A1A;
    font-family: 'Roboto';
    font-style: bold;
}
.nav-button-icon{ 
    float: right;
    margin-right: 5%;
    margin-top: inherit;
}

.nav-color-when-blue{
    background-color: white;
    color: black;
}