<div *ngIf="card !== 'contact'">
	<mat-card class="bonus-card bonus-card-blue">
		<mat-card-header>
			<mat-card-title>
				Tailored Solutions For Your Security Priorities
			</mat-card-title>
		</mat-card-header>
		<p>
			We will design, install, and upgrade solutions to meet business specific needs
			and budgets from large.
		</p>

		<h4><mat-icon>phone</mat-icon> +44 (0)1245 210 914</h4>
		<div class="buttons">
			<div class="nav-button-container">
				<a class="nav-button"
					>Get Started Now
					<img
						class="nav-button-icon"
						src="./assets/images/customIcons/right-arrow-icon.svg"
						alt=""
				/></a>
			</div>
		</div>
	</mat-card>

	<mat-card class="bonus-card">
		<div class="buttons">
			<div class="nav-button-container">
				<a class="file-button nav-color-when-black" (click)='openPDF("\"dfb23a36e8b8ca0a5680e17578cf425a\"")'>
					<img
						class="file-button-icon"
						src="./assets/images/customIcons/pdficon.svg"
						alt="" />Company Brochure
				</a>
			</div>
		</div>
	</mat-card>
</div>

<div *ngIf="card == 'contact'">
	<mat-card class="bonus-card bonus-card-blue">
		<mat-card-header>
			<mat-card-title> Contact Info </mat-card-title>
		</mat-card-header>
		<p>
			Telephone: ​01245 210 914 <br /><br />

			Email:​​ info@paragon-security.com <br /><br />

			WhatsApp: ​01245 210 914​ <br /><br />
		</p>
	</mat-card>

	<mat-card class="bonus-card">
		<mat-card-header>
			<mat-card-title> </mat-card-title>
		</mat-card-header>
		<p>
			Paragon Security Limited<br /><br />

			1 Mayfly Way<br /><br />

			Evolve Business Park <br /><br />

			Colchester Essex C07 7WX<br /><br />

			United Kingdom<br /><br />
		</p>
	</mat-card>

	<mat-card class="bonus-card">
		<mat-card-header>
			<mat-card-title> </mat-card-title>
		</mat-card-header>

		<!-- spocial Medias -->
		<div class="socialIconGroup">
			<a class="icon-link"
				><img
					class="socialIcon"
					src="./assets/images/socialMedias/facebook.svg"
					alt=""
			/></a>
			<a class="icon-link"
				><img
					class="socialIcon"
					src="./assets/images/socialMedias/twitter.svg"
					alt=""
			/></a>
			<a class="icon-link"
				><img
					class="socialIcon"
					src="./assets/images/socialMedias/linkedin.svg"
					alt=""
			/></a>
			<a class="icon-link"
				><img
					class="socialIcon"
					src="./assets/images/socialMedias/whatsapp.svg"
					alt=""
			/></a>
		</div>
	</mat-card>
</div>
