.hero{
    margin: 0px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.724);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
}
.titleGroup{
    position:relative;
    width: 60vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5vw;
}
.centredHero{

    align-items: center;
    text-align: center;
    position: revert;
    margin: auto;
}
.title{
    font-size: 4vw;
    
}
.secondaryTitle{
    font-size:3vw;
    font-family:Arial, Helvetica, sans-serif ;
}
h4{
    font-size: 2vh;
    font-family: 'roboto';
}
.titleButton{
    padding: 2rem;
    border-radius: 0px;
    margin-left:1vw;
    font-weight: bolder;
}
.outline{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.blue{
    background-color: #0065E7;
    color: white;
}
.black{
    background-color: rgb(0, 0, 0);
    color: white;
}

@media (max-width:1000px) {
    .titleGroup{
        width: 80vw !important;
        font-size: 120%;
    }
    .markets h1{
        font-size: 1rem;
    }
    .centredHero{
        left: 10vw;
        margin-left:auto;
        align-items: center;
        text-align: center;
    }
    .title{
        font-size: 6vw;
    }
    .secondaryTitle{
        font-size: 5vw;
    }
}