.hero{
    margin: 0px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.724);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
}
.shorterHero{
    height: 70vh;
}
.titleGroup{
    position:relative;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5vw;
}
.centredHero{

    align-items: center;
    text-align: center;
    position: revert;
    margin: auto;
}
.title{
    font-size: 4vw;
    
}
.secondaryTitle{
    font-size:3vw;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif ;
}
h4{
    font-size: 2vh;
    font-family: 'roboto';
    font-weight: 100;
}

// Buttons
.buttons{
    display: flex;
    gap:3%;
}

.centredHero .buttons{
        justify-content: center;
}


.titleButton{
    padding: 2rem;
    border-radius: 0px;
    font-weight: bolder;
    transition: background-color 500ms linear;
}
.titleButton mat-icon{
    margin-right: 0.5rem;
    margin-left: 0.1rem;
    transition: margin 500ms linear;
}
.outline{
    background-color: transparent;
    outline: 2px solid white;
    color: white;
}
.blue{
    background-color: #0065E7;
    color: white;
}
.black{
    background-color: #1B1A1A;
    color: white;
}

@media (max-width:1000px) {
    .titleGroup{
        width: 80vw !important;
        font-size: 120%;
    }
    .markets h1{
        font-size: 1rem;
    }
    .centredHero{
        left: 10vw;
        margin-left:auto;
        align-items: center;
        text-align: center;
    }
    .title{
        font-size: 6vw;
    }
    .secondaryTitle{
        font-size: 5vw;
    }
}

@media (max-width: 700px) {
    .buttons{
        display: grid;
        gap:20px;
    }
}

.titleButton:hover{
    background-color:#1B1A1A;
    color: white;
}
.titleButton:hover mat-icon{
    margin-left: 0.5rem;
    margin-right: 0.1rem;
}
