
// Similar Products

.similarProductsInfo .similarProductsContainer {
    margin-top: 1rem;
    display: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin:auto;
}
.similarProductsContainer .similarProductsCard{
    width: 24%;
    margin: 0.5%;
    border-radius:0px ;
    text-align: start;
    box-shadow: none;
}
.similarProductsCard .similarProducts:hover{
    box-shadow: 10px 10px 10px;
}

.similarProductsCard img{           
    object-fit: contain;
    height: 30vh;
    padding: 2vh;
}
.similarProductsCard h4{
    font-size: medium;
    margin-left: 1%;
}
@media screen and (max-width: 1000px) {
    .similarProductsContainer .similarProductsCard{
        width: 48%;
    }
}
