
<app-hero mainTitle="Search Paragon" secondaryTitle=""
	lowerTitle=""
	[isButtons]="false" background="./assets/images/heroBackgrounds/productLanding.png"
	[centred]="true"
	[button3Data]="{text:'Explore Our Services', path:'services', type:'white'}" extraStyle = "shorterHero"></app-hero>


<section class="container">
	<form [formGroup]="searchForm">
	<mat-form-field class="full-width search-pannel" appearance="outline">
		<mat-label>Search</mat-label>
			<input matInput placeholder="Search Product" formControlName="search" (keyup.enter)="onSearchChange($event)">
		<mat-hint>Press Enter to Search</mat-hint>
		<mat-error *ngIf=""></mat-error>
	</mat-form-field>
</form>
</section>
<section class="main-container">
	<mat-list>
		<div *ngIf="searchData?.product">
			<mat-list-item>
				<h4>Products</h4>
			</mat-list-item>
			<div *ngFor="let product of searchData.product; let i = index">
				<mat-list-item  [routerLink]="'/product/'+ product._id">
					<p>{{product.product_name}}</p>
				</mat-list-item>
		
			</div>
		</div>
		<div *ngIf="searchData?.category">
			<mat-list-item>
				<h4>Categories</h4>
			</mat-list-item>
			<div *ngFor="let category of searchData.category; let i = index">
				<mat-list-item [routerLink]="'/search/'+ category._id">
					<p>{{category.name}}</p>
				</mat-list-item>
		
			</div>
		</div>
		<div *ngIf="searchData?.info">
			<mat-list-item>
				<h4>Information</h4>
			</mat-list-item>
			<div *ngFor="let info of searchData.info; let i = index">
				<mat-list-item  [routerLink]="'/info-page/'+ info.type +'/'+ info._id">
					<p>{{info.name}}</p>
				</mat-list-item>
		
			</div>
		</div>
		<div *ngIf="searchData?.page">
			<div *ngFor="let page of searchData.page; let i = index">
				<mat-list-item>
					<p>{{page.name}}</p>
				</mat-list-item>
		
			</div>
		</div>
	</mat-list>
		

</section>