<div class="landing-blue content">
  <div class="form-wrapper">
    <div class="text-wrapper">
      <h3>Request A Quote</h3>
      <p>Please complete the form below, to request a quote, and we’ll be in touch. Or you can call us on <a href="tel:+441245210914">+44 (0)1245 210 914</a> and our specialists will provide the necessary help!</p>
    </div>
    <div class="container">
      <form class="main-contact-form" action="/">
        <div class="form-row select-row">
          <div class="container">
            <label class="form__label select" for="location">
              <span>Home or Business?</span></label>
            <select class="form__field select" type="select" name="location" id="location">
              <option value="home">Home</option>
              <option value="business">Business</option>
            </select>
          </div>
          <div class="container">
            <label class="form__label select" for="industry">
              <span>Industry:</span></label>
            <select class="form__field select" type="select" name="industry" id="industry">
              <option value="commercial">Commercial</option>
              <option value="residential">Residential</option>
            </select>
          </div>
        </div>
        <div class="form-row select-row">
          <div class="container">
            <label class="form__label select" for="size">
              <span>System Size?</span></label>
            <select class="form__field select" type="select" name="size" id="size">
              <option value="small">Small (1-5 locations)</option>
              <option value="medium">Medium (6-20 locations)</option>
              <option value="medium">Large (21 - 50 locations)</option>
              <option value="national">National</option>
              <option value="international">International</option>
            </select>
          </div>
          <div class="container">
            <label class="form__label select" for="ownership">
              <span>Own or Rent?</span></label>
            <select class="form__field select" type="select" name="ownership" id="ownership">
              <option value="represent">I'm representing occupant</option>
              <option value="tenant">I'm a tenant</option>
              <option value="owner">I own the premises</option>
            </select>
          </div>
        </div>
        <div class="form-row details-row">
          <div class="container">
            <input class="form__field text details" inputmode="text" type="text" name="f-name" id="firstName" placeholder="First Name...">
          </div>
          <div class="container">
            <input class="form__field text details" inputmode="text" type="text" name="l-name" id="lastName" placeholder="Last Name...">
          </div>
        </div>
        <div class="form-row details-row">
          <div class="container">
            <input class="form__field email details" inputmode="email" type="email" name="email" id="email" placeholder="Email Address...">
          </div>
          <div class="container">
            <input class="form__field tel details" inputmode="tel" type="tel" name="tel" id="telNumber" placeholder="Phone Nmber...">
          </div>
        </div>
        <div class="text-wrapper service">
          <p>Service Of Interest:</p>
        </div>
        <div class="form-section service section">
          <div class="form-row service-row row-1">
            <div class="mobile-container">
              <div class="option-wrapper 1">
                <div class="container">
                  <label for="design"><input type="checkbox" name="design" id="design">Design</label>
                </div>
                <div class="container">
                  <label for="consultancy"><input type="checkbox" name="consultancy" id="consultancy">Consultancy</label>
                </div>
              </div>
              <div class="option-wrapper 2">
                <div class="container">
                  <label for="build-test"><input type="checkbox" name="build-test" id="buildTest">Build &amp; Test </label>
                </div>
                <div class="container">
                  <label for="sec-risk"><input type="checkbox" name="sec-risk" id="secRisk">Security Risk Assessment</label>
                </div>
              </div>
            </div>
            <div class="mobile-container">
              <div class="option-wrapper 3">
                <div class="container">
                  <label for="installation"><input type="checkbox" name="installation" id="installation">Installation &amp; Commissioning</label>
                </div>
                <div class="container">
                  <label for="fire-risk"><input type="checkbox" name="fire-risk" id="fireRisk">Fire Risk Assessment</label>
                </div>
              </div>
              <div class="option-wrapper 4">
                <div class="container">
                  <label for="support"><input type="checkbox" name="support" id="support">Service Support</label>
                </div>
                <div class="container">
                  <label for="other"><input type="checkbox" name="other" id="other">Other</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="submit-wrapper">
          <button class="btn submit" type="submit" id="submitForm">Submit Your Form<span class="icon"><i class="icon"></i></span></button>
          <button class="btn reset" type="reset" id="submitForm">Clear Form<span class="icon"><i class="icon"></i></span></button>
        </div>
      </form>
    </div>
  </div>
</div>