<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/css/normalizeV8.css">
    <link href="/public/css/marine.css" rel="stylesheet" type="text/css" />
    <link href="/public/images/favicon.jpg" rel="shortcut icon" type="image/x-icon">
    <link href="/public/images/webclip.png" rel="apple-touch-icon">
    <!-- html live server render -->
    <link rel="stylesheet" href="../public/css/normalizeV8.css">
    <link rel="stylesheet" href="../public/css/fonts.css">
    <link rel="stylesheet" href="../public/css/marine.css">
    <link rel="shortcut icon" href="../public/images/favicon.jpg" type="image/x-icon">
    <script src="../public/js/formControl.js"></script>
    <!-- <script>
      var checkScrollBars = function(){ var b = $('body'); var normalw = 0; var scrollw = 0; if(b.prop('scrollHeight')>b.height()){ normalw = window.innerWidth; scrollw = normalw - b.width(); $('#container').css({marginRight:'-'+scrollw+'px'}); } }
    </script> -->
  </head>
  <body>
    <nav class="main-nav home fixed">
      <div class="container">
        <div class="logo-wrapper">
          <span class="brand"><i class="brand"></i></span>
        </div>
        <div class="header link-wrapper nav-links">
          <a href="#" class="nav-link">Home</a>
          <a href="#" class="nav-link">About Us <span class="icon"><i class="icon arrow-down"></i></span></a>
          <a href="#" class="nav-link">Products <span class="icon"><i class="icon arrow-down"></i></span></a>
          <a href="#" class="nav-link">Markets <span class="icon"><i class="icon arrow-down"></i></span></a>
          <a href="#" class="nav-link">Services <span class="icon"><i class="icon arrow-down"></i></span></a>
          <a href="#" class="nav-link">Resources <span class="icon"><i class="icon arrow-down"></i></span> </a>
          <a href="#" class="nav-link">Contact</a>
        </div>
        <div class="inner-wrapper contact header">
          <span class="search"><i class="icon search"></i></span>
          <span class="header-icon-wrapper header"><i class="icon header-phone"></i></span>
          <div class="contact-container">
            <a href="tel:4401245280448" class="contact">+44 (0)1245 280 448</a>
            <a href="mailto:info@paragonsecurity.com" class="email">info@paragon-security.com</a>
          </div>
        </div>

      </div>
    </nav>
    <!-- INSERT NAV HERE -->
    <div class="page-content">
      <div class="landing-hero">
        <div class="main-hero-section">
          <div class="hero-content">
            <div class="tag-line">
              <p>So you can relax like you&#x27;re on a calm sea...</p>
            </div>
            <h1> Security solutions<br> for peace of mind </h1 data-ix=fade-on-load-1>
            <div class="intro-wrapper">
              <p class="intro"> We provide security requirements of residential, commercial and other clients, with the largest assortment of security cameras and alarm systems installation. </p>
            </div>
            <div class="button-wrapper">
              <button class="btn blue explore">Explore Our Services <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.888671 1.14633L7.40867 7.66633C8.17867 8.43633 8.17867 9.69633 7.40867 10.4663L0.888672 16.9863" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <button class="btn white about">More About Us!</button>
            </div>
          </div>
          <div class="slide-nav">
            <div class="slide-link-wrapper">
              <span class="slide-nav-link link-1 active"></span>
              <span class="slide-nav-link link-2"></span>
            </div>
          </div>
        </div>
      </div>
      <section class="markets">
        <div class="title-split">
          <div class="title">
            <h2>High quality systems made by accredited manufacturers and installers</h2>
          </div>
          <div class="intro">
            <p>Paragon Security is a specialist security solutions provider founded on first class customer service and support with decades of experience in the fields of CCTV, access control, visitor management, ANPR, intercoms and alarm systems. </p>
            <p>Our company has particular expertise and specialist knowledge in markets including:</p>
          </div>
        </div>
        <div class="markets-and-cta">
          <div class="grid-container">
            <div class="market-grid">
              <div class="grid-half 1">
                <div class="market-grid-item">
                  <div class="link-image marine">
                    <!-- <img src="../public/images/new-images/marine.png" alt="" srcset=""> -->
                  </div>
                  <div class="link-wrapper">
                    <h4>Marine</h4>
                    <div class="explore">
                      <a href="../public/images/new-images/marine.png">Explore<span></span></a>
                    </div>
                  </div>
                </div>
                <div class="market-grid-item">
                  <div class="link-image offshore">
                    <!-- <img src="../public/images/new-images/marine-offshore.png" alt="" srcset=""> -->
                  </div>
                  <div class="link-wrapper">
                    <h4>Marine Offshore</h4>
                    <div class="explore">
                      <a href="/">Explore<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-half 2">
                <div class="market-grid-item">
                  <div class="link-image onshore">
                    <!-- <img src="../public/images/new-images/marine-onshore.png" alt="" srcset=""> -->
                  </div>
                  <div class="link-wrapper">
                    <h4>Marine Onshore</h4>
                    <div class="explore">
                      <a href="">Explore<span></span></a>
                    </div>
                  </div>
                </div>
                <div class="market-grid-item">
                  <div class="link-image oil-gas">
                    <!-- <img src="../public/images/new-images/oil-and-gas.png" alt="" srcset=""> -->
                  </div>
                  <div class="link-wrapper">
                    <h4>Marine Oil and Gas</h4>
                    <div class="explore">
                      <a href="">Explore<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cta-section">
            <div class="icon-wrapper"><svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.9999 10.6808V17.6808M28.1066 11.7875V20.9075C28.1066 22.4008 27.3066 23.7875 26.0132 24.5475L18.0932 29.1208C16.7999 29.8675 15.1999 29.8675 13.8932 29.1208L5.97322 24.5475C5.33559 24.1778 4.80647 23.6468 4.43902 23.0079C4.07157 22.3689 3.87874 21.6446 3.87989 20.9075V11.7875C3.87989 10.2942 4.67989 8.90749 5.97322 8.14749L13.8932 3.57416C15.1866 2.82749 16.7866 2.82749 18.0932 3.57416L26.0132 8.14749C27.3066 8.90749 28.1066 10.2808 28.1066 11.7875Z" stroke="#0065E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16 21.9478V22.0811" stroke="#0065E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg></div>
            <div class="text-wrapper">
              <p>As leaders in marine and commercial security, we can help you<br>customize a security system to meet your safety needs.<a class="schedule-visit" href="">Schedule A Visit</a></p>
            </div>
            <div class="button-wrapper"><button class="btn get-quote">Get Your Quote<svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.888671 1.14633L7.40867 7.66633C8.17867 8.43633 8.17867 9.69633 7.40867 10.4663L0.888672 16.9863" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg></button></div>
          </div>
        </div>
      </section>
      <section class="landing-black landing-black-1">
        <div class="title-wrapper">
          <p class="tag-line">Find Peace Of Mind With Smart Home Security System</p>
          <h3>Integrated Security Solutions <br>& Remote Monitoring 24/7</h3>
        </div>
        <div class="main-split">
          <div class="split split-left">
            <div class="title-wrapper">
              <p class="tag-line">Total Control Over Securing Your Business</p>
              <h4>Providing The Best Practices for Industry Security Protocols & Standardizing Procedures.</h4>
            </div>
            <div class="text-content">
              <p>We can partner with you to design and implement a scalable integrated security solution that addresses your toughest security challenges, while gaining efficiencies across your systems and teams by standardizing platforms and implementing event-driving system automation and powerful solutions help</p>
            </div>
            <div class="list-wrapper">
              <ul>
                <li class="publicity-list">Access control systems - Fire detection alarms</li>
                <li class="publicity-list">Critical equipment condition monitoring systems</li>
                <li class="publicity-list">Video surveillance systems - Carbon sensors</li>
              </ul>
            </div>
            <div class="button-wrapper">
              <button class="btn meet-team">Meet Our Experts<i class="icon"></i></button>
            </div>
            <h4>Refined solutions for protecting <br> your site & staff </h4>
            <p>With 1,000+ Wholesale Products and a wide range of services including:</p>
          </div>
          <div class="split split-right">
            <div class="image-wrapper">
              <div class="container">
                <div class="popout">
                  <div class="text-wrapper">
                    <p>Protect <br> Your Home!</p>
                    <p>All The Essentials <br> To Help Give You <br> Peace Of Mind.</p>
                  </div>
                  <ul>
                    <li class="publicity-list">Easy to setup and use</li>
                    <li class="publicity-list">Environmental Sensors</li>
                    <li class="publicity-list">Touch Screen Panel</li>
                  </ul>
                </div>
                <img src="../public/images/new-images/Protect-Your-Home-scaled-770x906.jpg.png" alt="" srcset="">
              </div>
            </div>
          </div>
        </div>
        <div class="category-grid-section">
          <div class="grid-container">
            <div class="category-grid">
              <div class="grid-half 1">
                <div class="category-grid-item">
                  <div class="link-image cameras">
                  </div>
                  <div class="link-wrapper">
                    <h4>Cameras</h4>
                    <div class="explore">
                      <a href="">Explore<span></span></a>
                    </div>
                  </div>
                </div>
                <div class="category-grid-item">
                  <div class="link-image housing">
                  </div>
                  <div class="link-wrapper">
                    <h4>Camera Housings</h4>
                    <div class="explore">
                      <a href="">Explore<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-half 2">
                <div class="category-grid-item">
                  <div class="link-image transmission">
                  </div>
                  <div class="link-wrapper">
                    <h4>CCTV Transmission</h4>
                    <div class="explore">
                      <a href="">Explore<span></span></a>
                    </div>
                  </div>
                </div>
                <div class="category-grid-item">
                  <div class="link-image recording">
                  </div>
                  <div class="link-wrapper">
                    <h4>CCTV Recording & <br> Analytics</h4>
                    <div class="explore">
                      <a href="">Explore<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-nav wrapper">
            <span class="back">
              <i class="icon"></i>
            </span>
            <span class="forward">
              <i class="icon"></i>
            </span>
          </div>
        </div>
      </section>
      <section class="landing-black landing-black-2">
        <div class="section-top">
          <div class="brochure container">
            <div class="text-wrapper">
              <p>Just everything you need</p>
              <p>Download Brochure</p>
            </div>
            <div class="container">
              <a href=""><span class="icon-wrapper download"><i class="icon"></i></span></a>
            </div>
          </div>
        </div>
        <div class="main-split">
          <div class="split split-left">
            <div class="title-wrapper">
              <p class="tag-line">Tailored Solutions For Your Security Priorities</p>
              <h4>Solutions That Reduce Cost & Increase Business Efficiency.</h4>
            </div>
            <div class="text-content">
              <p>We will design, install, maintain and upgrade solutions to meet businesses' specific needs and budgets, from large enterprises to local business security platforms, from simple camera solutions for small offices to complex enterprise-class video surveillance systems for large campuses.</p>
            </div>
            <div class="solutions-wrapper">
              <div class="container large_1">
                <div class="security">
                  <span>Security Systems</span>
                </div>
                <div class="security">
                  <span>Access Control</span>
                </div>
                <div class="security">
                  <span>Monitoring</span>
                </div>
              </div>
              <div class="container large_2">
                <div class="security">
                  <span>Fire Alarms</span>
                </div>
                <div class="security">
                  <span>CCTV Video</span>
                </div>
                <div class="security">
                  <span>Global Services</span>
                </div>
              </div>
            </div>
            <div class="solutions-wrapper mobile" style="display: none">
              <div class="container _1">
                <div class="security">
                  <span>Security Systems</span>
                </div>
                <div class="security">
                  <span>Access Control</span>
                </div>
              </div>
              <div class="container _2">
                <div class="security">
                  <span>Monitoring</span>
                </div>
                <div class="security">
                  <span>Fire Alarms</span>
                </div>
              </div>
              <div class="container _3">
                <div class="security">
                  <span>CCTV Video</span>
                </div>
                <div class="security">
                  <span>Global Services</span>
                </div>
              </div>
            </div>
            <p>Our team can also provide security integration services for highly complex facilities and offer preventative maintenance plans <a href="#">Contact Us Now!</a></p>
          </div>
          <div class="split split-right">
            <div class="image-wrapper">
              <div class="container">
                <img src="../public/images/new-images/Tailored-Solutions-For-Your-Security-Priorities-scaled-510x600.jpg.png" alt="" srcset="">
              </div>
            </div>
          </div>
        </div>
        <div class="landing-bottom">
          <div class="cta-section bottom">
            <h3>Protect Your Home Or Business With<br>Our Unique Solutions</h3>
            <p>From large enterprises to local business security platforms, from simple camera solutions for small offices to complex enterprise class video systems for large campuses.</p>
            <div class="cta-wrapper">
              <div class="button-wrapper">
                <button class="btn blue jump form  ">Discover More Info<i class="icon arrow-white"></i></button>
              </div>
              <a class="contact" href="tel:+441245210914">
                <div class="container">
                  <span class="animate"><span class="inner"></span></span>
                </div>
                <div class="text-wrapper details">
                  <p>Call Us</p>
                  <p class="tel">+44 (0)1245 210 914</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="landing-blue">
        <div class="landing-blue background">
          <div class="landing-blue content">
            <div class="form-wrapper">
              <div class="text-wrapper">
                <h3>Request A Quote</h3>
                <p>Please complete the form below, to request a quote, and we’ll be in touch. Or you can call us on <a href="tel:+441245210914">+44 (0)1245 210 914</a> and our specialists will provide the necessary help!</p>
              </div>
              <div class="container">
                <form class="main-contact-form" action="/">
                  <div class="form-row select-row">
                    <div class="container">
                      <label class="form__label select" for="location">
                        <span>Home or Business?</span></label>
                      <select class="form__field select" type="select" name="location" id="location">
                        <option value="home">Home</option>
                        <option value="business">Business</option>
                      </select>
                    </div>
                    <div class="container">
                      <label class="form__label select" for="industry">
                        <span>Industry:</span></label>
                      <select class="form__field select" type="select" name="industry" id="industry">
                        <option value="commercial">Commercial</option>
                        <option value="residential">Residential</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row select-row">
                    <div class="container">
                      <label class="form__label select" for="size">
                        <span>System Size?</span></label>
                      <select class="form__field select" type="select" name="size" id="size">
                        <option value="small">Small (1-5 locations)</option>
                        <option value="medium">Medium (6-20 locations)</option>
                        <option value="medium">Large (21 - 50 locations)</option>
                        <option value="national">National</option>
                        <option value="international">International</option>
                      </select>
                    </div>
                    <div class="container">
                      <label class="form__label select" for="ownership">
                        <span>Own or Rent?</span></label>
                      <select class="form__field select" type="select" name="ownership" id="ownership">
                        <option value="represent">I'm representing occupant</option>
                        <option value="tenant">I'm a tenant</option>
                        <option value="owner">I own the premises</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row details-row">
                    <div class="container">
                      <input class="form__field text details" inputmode="text" type="text" name="f-name" id="firstName" placeholder="First Name...">
                    </div>
                    <div class="container">
                      <input class="form__field text details" inputmode="text" type="text" name="l-name" id="lastName" placeholder="Last Name...">
                    </div>
                  </div>
                  <div class="form-row details-row">
                    <div class="container">
                      <input class="form__field email details" inputmode="email" type="email" name="email" id="email" placeholder="Email Address...">
                    </div>
                    <div class="container">
                      <input class="form__field tel details" inputmode="tel" type="tel" name="tel" id="telNumber" placeholder="Phone Nmber...">
                    </div>
                  </div>
                  <div class="text-wrapper service">
                    <p>Service Of Interest:</p>
                  </div>
                  <div class="form-section service section">
                    <div class="form-row service-row row-1">
                      <div class="mobile-container">
                        <div class="option-wrapper 1">
                          <div class="container">
                            <label for="design"><input type="checkbox" name="design" id="design">Design</label>
                          </div>
                          <div class="container">
                            <label for="consultancy"><input type="checkbox" name="consultancy" id="consultancy">Consultancy</label>
                          </div>
                        </div>
                        <div class="option-wrapper 2">
                          <div class="container">
                            <label for="build-test"><input type="checkbox" name="build-test" id="buildTest">Build &amp; Test </label>
                          </div>
                          <div class="container">
                            <label for="sec-risk"><input type="checkbox" name="sec-risk" id="secRisk">Security Risk Assessment</label>
                          </div>
                        </div>
                      </div>
                      <div class="mobile-container">
                        <div class="option-wrapper 3">
                          <div class="container">
                            <label for="installation"><input type="checkbox" name="installation" id="installation">Installation &amp; Commissioning</label>
                          </div>
                          <div class="container">
                            <label for="fire-risk"><input type="checkbox" name="fire-risk" id="fireRisk">Fire Risk Assessment</label>
                          </div>
                        </div>
                        <div class="option-wrapper 4">
                          <div class="container">
                            <label for="support"><input type="checkbox" name="support" id="support">Service Support</label>
                          </div>
                          <div class="container">
                            <label for="other"><input type="checkbox" name="other" id="other">Other</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="submit-wrapper">
                    <button class="btn submit" type="submit" id="submitForm">Submit Your Form<span class="icon"><i class="icon"></i></span></button>
                    <button class="btn reset" type="reset" id="submitForm">Clear Form<span class="icon"><i class="icon"></i></span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    </section>
    <footer class="main-footer">
      <div class="container">
        <div class="footer-links contact">
          <div class="title-wrapper">
            <h3>Quick Contact</h3>
          </div>
          <link-wrapper>
            <p>If you have any questions or need help, <br> feel free to contact with our team.</p>
            <div class="inner-container icon">
              <span class="contact"><i class="contact fb"></i></span>
              <span class="contact"><i class="contact twitter"></i></span>
              <span class="contact"><i class="contact linkedin"></i></span>
              <span class="contact"><i class="contact whatsapp"></i></span>
              <span class="contact"><i class="contact message"></i></span>
            </div>
            <div class="inner-wrapper">
              <span class="contact"><i class="contact email"></i></span>
              <a href="mailto:info@paragonsecurity.com">info@paragonsecurity.com</a>
            </div>
            <div class="inner-wrapper _1">
              <span class="contact"><i class="contact phone"></i></span>
              <a href="tel:441245210914">+44 (0)1245 210 914</a>
            </div>
            <div class="inner-wrapper">
              <p>Swift house, 18 Hoffmans Way,</p>
            </div>
            <div class="inner-wrapper">
              <p>Chelmsford, Essex, UK</p>
            </div>
            <div class="inner-wrapper _1">
              <p>CM1 1GU</p>
            </div>
            <div class="inner-wrapper _1">
              <span class="contact"><i class="contact directions"></i></span>
              <a href="#" class="directions">Get Directions</a>
            </div>
            <div class="inner-wrapper">
              <p>Company Reg. No. 0745040</p>
            </div>
          </link-wrapper>
        </div>
        <di v class="footer-links company">
          <div class="title-wrapper">
            <h3>Company</h3>
          </div>
          <div class="link-wrapper">
            <div class="nav-link inner-wrapper">
              <a class="footer-nav-link" href="#">About Us</a>
            </div>
            <div class="nav-link inner-wrapper">
              <a class="footer-nav-link" href="#">Jobs</a>
            </div>
            <div class="nav-link inner-wrapper">
              <a class="footer-nav-link" href="#">Modern Slavery</a>
            </div>
            <div class="nav-link inner-wrapper">
              <a class="footer-nav-link" href="#">Inclusion &amp; Diversity</a>
            </div>
            <div class="nav-link inner-wrapper">
              <a class="footer-nav-link" href="#">Sustainability</a>
            </div>
            <div class="nav-link inner-wrapper">
              <a class="footer-nav-link" href="#">Cyber Security</a>
            </div>
            <div class="nav-link inner-wrapper">
              <a class="footer-nav-link" href="#">Corporate Social Responsibility</a>
            </div>
          </div>
        </di>
        <div class="footer-links categories">
          <div class="title-wrapper">
            <h3>Categories</h3>
          </div>
          <div class="link-wrapper">
            <div class="link-wrapper">
              <div class="nav-link inner-wrapper">
                <a class="footer-nav-link" href="#">Products</a>
              </div>
              <div class="nav-link inner-wrapper">
                <a class="footer-nav-link" href="#">Markets</a>
              </div>
              <div class="nav-link inner-wrapper">
                <a class="footer-nav-link" href="#">Services</a>
              </div>
              <div class="nav-link inner-wrapper">
                <a class="footer-nav-link" href="#">News</a>
              </div>
              <div class="nav-link inner-wrapper">
                <a class="footer-nav-link" href="#">Careers</a>
              </div>
              <div class="nav-link inner-wrapper">
                <a class="footer-nav-link" href="#">Media</a>
              </div>
              <div class="nav-link inner-wrapper">
                <a class="footer-nav-link" href="#">Site Map</a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-links Resources">
          <div class="title-wrapper">
            <h3>Resources</h3>
          </div>
          <div class="link-wrapper">
            <div class="link-wrapper">
              <div class="nav-link inner-wrapper">
                <a class="footer-nav-link" href="#">Tools</a>
              </div>
              <div class="nav-link inner-wrapper">
                <a class="footer-nav-link" href="#">Gallery</a>
              </div>
              <div class="nav-link inner-wrapper">
                <a class="footer-nav-link" href="#">Data Sheets</a>
              </div>
              <div class="nav-link inner-wrapper">
                <a class="footer-nav-link" href="#">Case Studies</a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-links quote">
          <div class="title-wrapper">
            <h3>Have A Project</h3>
          </div>
          <div class="link-wrapper">
            <button class="btn blue bold">Get A Quote<span class="icon"><i class="icon arrow-white"></i></span></button>
          </div>
        </div>
      </div>
    </footer>

  </body>

</html>