<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/css/normalizeV8.css">
    <link href="/public/css/marine.css" rel="stylesheet" type="text/css" />
    <link href="/public/images/favicon.jpg" rel="shortcut icon" type="image/x-icon">
    <link href="/public/images/webclip.png" rel="apple-touch-icon">
  </head>
  <body>
    <!-- INSERT NAV HERE -->
    <div class="landing-hero">
      <div class="main-hero-section">
        <div class="hero-content">
          <div class="tag-line">
            <p>So you can relax like you&#x27;re on a calm sea...</p>
          </div>
          <h1> Security solutions<br> for peace of mind </h1 data-ix=fade-on-load-1>
          <div class="intro-wrapper">
            <p class="intro"> We provide security requirements of residential, commercial and other clients, with the largest assortment of security cameras and alarm systems installation. </p>
          </div>
          <div class="button-wrapper">
            <button class="explore">Explore Our Services<svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.888671 1.14633L7.40867 7.66633C8.17867 8.43633 8.17867 9.69633 7.40867 10.4663L0.888672 16.9863" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
              </svg></button>
            <button class="about">More About Us!</button>
          </div>
          <div class="slide-nav"><span class="slide-nav-link"></span></div>
        </div>
      </div>
    </div>
    <section class="markets">
      <div class="title-split">
        <div class="title">
          <h2>High quality systems made by accredited manufacturers and installers</h2>
        </div>
        <div class="intro">
          <p>Paragon Security is a specialist security solutions provider founded on first class customer service and support with decades of experience in the fields of CCTV, access control, visitor management, ANPR, intercoms and alarm systems. </p>
          <p>Our company has particular expertise and specialist knowledge in markets including:</p>
        </div>
      </div>
      <div class="market-chooser">
        <div class="market-cover">
          <div class="link-image">
            <img src="" alt="">
          </div>
          <div class="link-wrapper">
            <h4>Marine</h4>
            <div class="explore">
              <a href=""></a>
            </div>
          </div>
        </div>
        <div class="market-cover">
          <div class="link-image">
            <img src="" alt="">
          </div>
          <div class="link-wrapper">
            <h4>Marine</h4>
            <div class="explore">
              <a href=""></a>
            </div>
          </div>
        </div>
        <div class="market-cover">
          <div class="link-image">
            <img src="" alt="">
          </div>
          <div class="link-wrapper">
            <h4>Marine</h4>
            <div class="explore">
              <a href=""></a>
            </div>
          </div>
        </div>
        <div class="market-cover">
          <div class="link-image">
            <img src="" alt="">
          </div>
          <div class="link-wrapper">
            <h4>Marine</h4>
            <div class="explore">
              <a href=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </body>

</html>