<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/css/normalizeV8.css">
    <link href="/public/css/marine.css" rel="stylesheet" type="text/css" />
    <link href="/public/images/favicon.jpg" rel="shortcut icon" type="image/x-icon">
    <link href="/public/images/webclip.png" rel="apple-touch-icon">
    <!-- html live server render -->
    <link rel="stylesheet" href="../public/css/normalizeV8.css">
    <link rel="stylesheet" href="../public/css/fonts.css">
    <link rel="stylesheet" href="../public/css/marine.css">
    <link rel="shortcut icon" href="../public/images/favicon.jpg" type="image/x-icon">
  </head>
  <body>
    <!-- INSERT NAV HERE -->
    <div class="page-content">
      <div class="landing-hero">
        <div class="main-hero-section">
          <div class="hero-content">
            <div class="tag-line">
              <p>So you can relax like you&#x27;re on a calm sea...</p>
            </div>
            <h1> Security solutions<br> for peace of mind </h1 data-ix=fade-on-load-1>
            <div class="intro-wrapper">
              <p class="intro"> We provide security requirements of residential, commercial and other clients, with the largest assortment of security cameras and alarm systems installation. </p>
            </div>
            <div class="button-wrapper">
              <button class="explore">Explore Our Services <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.888671 1.14633L7.40867 7.66633C8.17867 8.43633 8.17867 9.69633 7.40867 10.4663L0.888672 16.9863" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <button class="about">More About Us!</button>
            </div>
          </div>
          <div class="slide-nav">
            <div class="slide-link-wrapper">
              <span class="slide-nav-link link-1 active"></span>
              <span class="slide-nav-link link-2"></span>
            </div>
          </div>
        </div>
      </div>
      <section class="markets">
        <div class="title-split">
          <div class="title">
            <h2>High quality systems made by accredited manufacturers and installers</h2>
          </div>
          <div class="intro">
            <p>Paragon Security is a specialist security solutions provider founded on first class customer service and support with decades of experience in the fields of CCTV, access control, visitor management, ANPR, intercoms and alarm systems. </p>
            <p>Our company has particular expertise and specialist knowledge in markets including:</p>
          </div>
        </div>
        <div class="markets-and-cta">
          <div class="grid-container">
            <div class="market-grid">
              <div class="grid-half 1">
                <div class="market-grid-item">
                  <div class="link-image marine">
                    <!-- <img src="../public/images/new-images/marine.png" alt="" srcset=""> -->
                  </div>
                  <div class="link-wrapper">
                    <h4>Marine</h4>
                    <div class="explore">
                      <a href="../public/images/new-images/marine.png">Explore<span></span></a>
                    </div>
                  </div>
                </div>
                <div class="market-grid-item">
                  <div class="link-image offshore">
                    <!-- <img src="../public/images/new-images/marine-offshore.png" alt="" srcset=""> -->
                  </div>
                  <div class="link-wrapper">
                    <h4>Marine Offshore</h4>
                    <div class="explore">
                      <a href="/">Explore<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-half 2">
                <div class="market-grid-item">
                  <div class="link-image onshore">
                    <!-- <img src="../public/images/new-images/marine-onshore.png" alt="" srcset=""> -->
                  </div>
                  <div class="link-wrapper">
                    <h4>Marine Onshore</h4>
                    <div class="explore">
                      <a href="">Explore<span></span></a>
                    </div>
                  </div>
                </div>
                <div class="market-grid-item">
                  <div class="link-image oil-gas">
                    <!-- <img src="../public/images/new-images/oil-and-gas.png" alt="" srcset=""> -->
                  </div>
                  <div class="link-wrapper">
                    <h4>Marine Oil and Gas</h4>
                    <div class="explore">
                      <a href="">Explore<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cta-section">
            <div class="icon-wrapper"><svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.9999 10.6808V17.6808M28.1066 11.7875V20.9075C28.1066 22.4008 27.3066 23.7875 26.0132 24.5475L18.0932 29.1208C16.7999 29.8675 15.1999 29.8675 13.8932 29.1208L5.97322 24.5475C5.33559 24.1778 4.80647 23.6468 4.43902 23.0079C4.07157 22.3689 3.87874 21.6446 3.87989 20.9075V11.7875C3.87989 10.2942 4.67989 8.90749 5.97322 8.14749L13.8932 3.57416C15.1866 2.82749 16.7866 2.82749 18.0932 3.57416L26.0132 8.14749C27.3066 8.90749 28.1066 10.2808 28.1066 11.7875Z" stroke="#0065E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16 21.9478V22.0811" stroke="#0065E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg></div>
            <div class="text-wrapper">
              <p>As leaders in marine and commercial security, we can help you<br>customize a security system to meet your safety needs.<a class="schedule-visit" href="">Schedule A Visit</a></p>
            </div>
            <div class="button-wrapper"><button class="get-quote">Get Your Quote<svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.888671 1.14633L7.40867 7.66633C8.17867 8.43633 8.17867 9.69633 7.40867 10.4663L0.888672 16.9863" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg></button></div>
          </div>
        </div>
      </section>
      <section class="landing-black landing-black-1">
        <div class="title-wrapper">
          <p class="tag-line">Find Peace Of Mind With Smart Home Security System</p>
          <h3>Integrated Security Solutions <br>& Remote Monitoring 24/7</h3>
        </div>
        <div class="main-split">
          <div class="split split-left">
            <div class="title-wrapper">
              <p class="tag-line">Total Control Over Securing Your Business</p>
              <h4>Providing The Best Practices for Industry Security Protocols & Standardizing Procedures.</h4>
            </div>
            <div class="text-content">
              <p>We can partner with you to design and implement a scalable integrated security solution that addresses your toughest security challenges, while gaining efficiencies across your systems and teams by standardizing platforms and implementing event-driving system automation and powerful solutions help</p>
            </div>
            <div class="list-wrapper">
              <ul>
                <li class="publicity-list">Access control systems - Fire detection alarms</li>
                <li class="publicity-list">Critical equipment condition monitoring systems</li>
                <li class="publicity-list">Video surveillance systems - Carbon sensors</li>
              </ul>
            </div>
            <div class="button-wrapper">
              <button class="meet-team">Meet Our Experts<i class="icon"></i></button>
            </div>
            <h4>Refined solutions for protecting <br> your site & staff </h4>
            <p>With 1,000+ Wholesale Products and a wide range of services including:</p>
          </div>
          <div class="split split-right">
            <div class="image-wrapper">
              <div class="container">
                <div class="popout">
                  <div class="text-wrapper">
                    <p>Protect <br> Your Home!</p>
                    <p>All The Essentials <br> To Help Give You <br> Peace Of Mind.</p>
                  </div>
                  <ul>
                    <li class="publicity-list">Easy to setup and use</li>
                    <li class="publicity-list">Environmental Sensors</li>
                    <li class="publicity-list">Touch Screen Panel</li>
                  </ul>
                </div>
                <img src="../public/images/new-images/Protect-Your-Home-scaled-770x906.jpg.png" alt="" srcset="">
              </div>
            </div>
          </div>
        </div>
        <div class="category-grid-section">
          <div class="grid-container">
            <div class="category-grid">
              <div class="grid-half 1">
                <div class="category-grid-item">
                  <div class="link-image cameras">
                  </div>
                  <div class="link-wrapper">
                    <h4>Cameras</h4>
                    <div class="explore">
                      <a href="">Explore<span></span></a>
                    </div>
                  </div>
                </div>
                <div class="category-grid-item">
                  <div class="link-image housing">
                  </div>
                  <div class="link-wrapper">
                    <h4>Camera Housings</h4>
                    <div class="explore">
                      <a href="">Explore<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-half 2">
                <div class="category-grid-item">
                  <div class="link-image transmission">
                  </div>
                  <div class="link-wrapper">
                    <h4>CCTV Transmission</h4>
                    <div class="explore">
                      <a href="">Explore<span></span></a>
                    </div>
                  </div>
                </div>
                <div class="category-grid-item">
                  <div class="link-image recording">
                  </div>
                  <div class="link-wrapper">
                    <h4>CCTV Recording & <br> Analytics</h4>
                    <div class="explore">
                      <a href="">Explore<span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-nav wrapper">
            <span class="back">
              <i class="icon"></i>
            </span>
            <span class="forward">
              <i class="icon"></i>
            </span>
          </div>
        </div>
      </section>
      <section class="landing-black landing-black-2">
        <div class="section-top">
          <div class="brochure container">
            <div class="text-wrapper">
              <p>Just everything you need</p>
              <p>Download Brochure</p>
            </div>
            <div class="container">
              <a href=""><span class="icon-wrapper download"><i class="icon"></i></span></a>
            </div>
          </div>
        </div>
        <div class="main-split">
          <div class="split split-left">
            <div class="title-wrapper">
              <p class="tag-line">Tailored Solutions For Your Security Priorities</p>
              <h4>Solutions That Reduce Cost & Increase Business Efficiency.</h4>
            </div>
            <div class="text-content">
              <p>We will design, install, maintain and upgrade solutions to meet businesses' specific needs and budgets, from large enterprises to local business security platforms, from simple camera solutions for small offices to complex enterprise-class video surveillance systems for large campuses.</p>
            </div>
            <div class="solutions-wrapper">
              <div class="container large_1">
                <div class="security">
                  <span>Security Systems</span>
                </div>
                <div class="security">
                  <span>Security Systems</span>
                </div>
                <div class="security">
                  <span>Security Systems</span>
                </div>
              </div>
              <div class="container large_2">
                <div class="security">
                  <span>Security Systems</span>
                </div>
                <div class="security">
                  <span>Security Systems</span>
                </div>
                <div class="security">
                  <span>Security Systems</span>
                </div>
              </div>
            </div>
            <div class="solutions-wrapper mobile" style="display: none">
              <div class="container _1">
                <div class="security">
                  <span>Security Systems</span>
                </div>
                <div class="security">
                  <span>Security Systems</span>
                </div>
              </div>
              <div class="container _2">
                <div class="security">
                  <span>Security Systems</span>
                </div>
                <div class="security">
                  <span>Security Systems</span>
                </div>
              </div>
              <div class="container _3">
                <div class="security">
                  <span>Security Systems</span>
                </div>
                <div class="security">
                  <span>Security Systems</span>
                </div>
              </div>
            </div>
            <div class="button-wrapper">
              <button class="meet-team">Meet Our Experts<i class="icon"></i></button>
            </div>
            <h4>Refined solutions for protecting <br> your site & staff </h4>
            <p>With 1,000+ Wholesale Products and a wide range of services including:</p>
          </div>
          <div class="split split-right">
            <div class="image-wrapper">
              <div class="container">
                <img src="../public/images/new-images/Tailored-Solutions-For-Your-Security-Priorities-scaled-510x600.jpg.png" alt="" srcset="">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </body>

</html>