.cat-cell-1 {
	grid-area: 1 / 1 / 2 / 2;
}

.cat-cell-2 {
	grid-area: 1 / 2 / 2 / 3;
}

.cat-cell-3 {
	grid-area: 1 / 3 / 2 / 4;
}

.cat-cell-4 {
	grid-area: 1 / 4 / 2 / 5;
}

.cat-cell-5 {
	grid-area: 1 / 5 / 2 / 6;
}

.cat-cell-6 {
	grid-area: 1 / 6 / 2 / 7;
}

.cat-cell-7 {
	grid-area: 2 / 1 / 3 / 2;
}

.cat-cell-8 {
	grid-area: 2 / 2 / 3 / 3;
}

.cat-cell-9 {
	grid-area: 2 / 3 / 3 / 4;
}

.cat-cell-10 {
	grid-area: 2 / 4 / 3 / 5;
}

.cat-cell-11 {
	grid-area: 2 / 5 / 3 / 6;
}

.cat-cell-12 {
	grid-area: 2 / 6 / 3 / 7;
}