<app-hero
    mainTitle="Products"
    lowerTitle="As one of the premier providers of smart surveillance technology, we are recognized throughout the industry for our products. Don’t worry about any thing, security experts will install your new system, activate it, and show you how to use it."
    [isButtons]="true"
    background="../../assets/images/heroBackgrounds/productsLanding.png"
    [button1Data]="{text:'See What It Costs', path:'', type:'white'}"
    [button2Data]="{text:'Protect My Home', path:'', type:'outline'}"
    [centred]="true"
    [button3Data]="{text:'Explore Our Services', path:'', type:'white'}"
></app-hero>
    <h5>Showing page: {{currentPage}} of {{totalPages}}</h5>
<section class="ProductsView"> 

    <div class="productsContainer" fxLayout="row wrap" fxLayoutAlign="flex-start">
            <mat-card class="productCard"  *ngFor="let product of products" (click)="loadProduct(product._id)">
                <img mat-card-image [src]="product.image">
                <mat-card-header>
                    <mat-card-title-group></mat-card-title-group>
                    
                </mat-card-header>
                <h4>{{product.product_name| slice:0:30}}</h4>
                <p>Explore</p>
            </mat-card>
            
            <section class="paginationButtons">
                <div class="buttons">
                    <button mat-stroked-button (click)="changePage('-')" *ngIf="currentPage !== 1" >-</button>
                    <button mat-flat-button color="primary" id="page">{{currentPage}}/{{totalPages}}</button>
                    <button mat-stroked-button (click)="changePage('+')" *ngIf="currentPage !== totalPages">+</button>
                </div>
            </section>
    </div>
    
    <section class="Filter">
        <div class="categories">
            <h1>Categories</h1>
            <mat-button-toggle-group class="catagoryButtonsContainer">
                <mat-button-toggle *ngFor="let type of types"  (click)="changeType(type.value)">{{type.name}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="searchSection">
            <h1>Search</h1>
            <mat-form-field class="example-full-width" >
                <input matInput placeholder="Search Product" (keyup)="onSearchChange($event)" >
            </mat-form-field>
        </div>
    </section>
</section>


