<app-hero *ngIf="category"
    [mainTitle]="category.info.heading"
    [lowerTitle]="category.info.sub_heading"
    [isButtons]="true"
    [background]="category.info.banner_image"
    [button1Data]="{text:'See What It Costs', path:'', type:'white'}"
    [button2Data]="{text:'Protect My Home', path:'', type:'outline'}"
    [button3Data]="{text:'Explore Our Services', path:'', type:'white'}"
    extraStyle = "shorterHero"
></app-hero>

<app-breadcrumbs [history]="history"></app-breadcrumbs>

    <h5 id="productList">Showing page: {{currentPage}} of {{totalPages}}</h5>

<section class="ProductsView">
    <section class="Filter">

        <div class="categories" *ngIf="subCats.length > 0">
            <h1>Categories</h1>
            <button mat-button color="primary" *ngFor="let cat of subCats"  [routerLink]="cat.cat_url">{{cat.name}}</button>
        </div>

        <div class="searchSection">
            <h1>Search</h1>
            <mat-form-field class="example-full-width" >
                <input matInput placeholder="Search Product" (keyup)="onSearchChange($event)" >
            </mat-form-field>
        </div>
    </section>

    <div class="productsContainer" fxLayout="row wrap" fxLayoutAlign="flex-start" *ngIf="products" >
            <mat-card class="productCard selectable"  *ngFor="let product of products" (click)="loadProduct(product.product_url)">
                    <img mat-card-image *ngIf="product.image !== ''" [src]="product.image">
                    <img mat-card-image *ngIf="product.image == ''" src="./assets/images/ExampleProducts/defaultImage.jpg">

                <mat-card-header>
                    <mat-card-title-group></mat-card-title-group>

                </mat-card-header>
                <h4>{{product.product_name| slice:0:30}}</h4>
                <span>See Product <mat-icon>circle</mat-icon></span>
            </mat-card>

            <section class="paginationButtons">
                <div class="buttons">
                    <button mat-flat-button *ngIf="currentPage-2 > 0" (click)="changePage(currentPage-2)" >{{currentPage - 2}}</button>
                    <button mat-flat-button *ngIf="currentPage-1 > 0" (click)="changePage(currentPage-1)" >{{currentPage - 1}}</button>
                    <button mat-flat-button color="primary" id="page">{{currentPage}}</button>
                    <button mat-flat-button *ngIf="currentPage+1 <= totalPages" (click)="changePage(currentPage+1)" >{{currentPage+1}}</button>
                    <button mat-flat-button *ngIf="currentPage+2 <= totalPages" (click)="changePage(currentPage+2)" >{{currentPage+2}}</button>
                </div>
            </section>
    </div>


</section>


