// Format Product sections
.ProductsView{
    display: flex;
    width: 90vw;
    margin:auto;
}
// Display and Control Products
.ProductsView .productsContainer {
    margin-top: 1rem;
    display: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 75%;
}
.productsContainer .productCard{
    width: 23%;
    margin: 1%;
    border-radius:0px ;
    text-align: start;
}
.productCard img{
    width: 100%;
}
.productCard p{
    margin-left:15px;
}
@media screen and (max-width: 1000px) {
    .productsContainer .productCard{
        width: 31%;
    }
}
@media screen and (max-width: 750px) {
    .productsContainer .productCard{
        width: 48%;
    }
}

// category and info Selector
.Filter{
    width:20%;
    margin-left: auto;
    display: block;
}
.mat-button-toggle-group{
    flex-direction: column !important;
    border: 0px;
}
.mat-button-toggle-group mat-button-toggle{
    margin-bottom: 1vh;
    color: #0065E7;
    border: 0px;
    text-align: left;
    height: 10%;
}
.mat-button-toggle-label-content{
    padding: 0px;
    margin: 0px;
    text-align: start;

}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 10px;
}



