// Format Product sections
.ProductsView{
    display: flex;
    width: 100%;
}
// Display and Control Products
.ProductsView .productsContainer {
    display: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 75%;
}
.productsContainer .productCard{
    width: 20%;
    margin: 5%;
    border-radius:0px ;
    border: 0px;
    text-align: start;
    box-shadow: none;
    height: min-content;
}
.productCard img{
    // object-fit: fill;
    width: 100%;
}
.productCard h4{
    margin-left: 1rem;
}
.productCard p{
    margin-left:15px;
}
@media screen and (max-width: 1000px) {
    .productsContainer .productCard{
        width: 35%;
    }
}
@media screen and (max-width: 750px) {
    .productsContainer .productCard{
        width: 70%;
    }
}

// category and info Selector
.Filter{
    width:10%;

    display: block;
}
.mat-button-toggle-group{
    flex-direction: column !important;
    border: 0px;
}
.mat-button-toggle-group mat-button-toggle{
    margin-bottom: 1vh;
    color: #0065E7;
    border: 0px;
    text-align: left;
    height: 5%;
}
.mat-button-toggle-button{
    width: 0% !important;
}



// Pagination Buttons
.paginationButtons{
    display: flex;
    width: 100%;
}
.paginationButtons .buttons{
    margin: auto;
}
.paginationButtons .buttons button{
    border-radius: 0px;
    border: 2px solid;
    margin: 5px;
}
.buttons #page{
    border: 2px solid #093273;
}