// Format Product sections
.ProductsView{
    display: block;
    width: 100%;
}
// Display and Control Products
.ProductsView .productsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 75%;
    grid-auto-rows: min-content;
    min-height: 80vh;

}
.productsContainer > .productCard{
    width: 28%;
    margin: 2.5%;
    height: 30vh;
    border-radius:0px ;
    border: 0px;
    text-align: start;
    box-shadow: none;
    height: min-content;
}
.productCard img{
    height: 20vh;
    object-fit: contain;
    background: white !important;
}
.porduct-image-container{
    height: 15vh;
    object-fit: contain;
}
.productCard h4{
    // margin: auto;
    margin: 0.2rem auto 0.2rem 1rem;
    // margin-top: 0.2rem;
}
.productCard p{
    margin-left:15px;
}

.productCard span {
    padding-bottom: 2vh;
    margin-left: 5%;
    width: auto;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 5%;
}

span mat-icon {
    color: #093273;
}

@media screen and (max-width: 850px) {
    .productsContainer .productCard{
        width: 35%;
    }
}
@media screen and (max-width: 500px) {
    .productsContainer .productCard{
        width: 70%;
    }
}

// category and info Selector
.Filter{
    width:20vw;
    float: right;
    display: block;
}
.categories button{
    width: 100%;
    margin-bottom: 1vh;
    color: #0065E7;
    border: 0px;
    justify-content: left;
    height: 5%;
    text-align: left;
    font-size: 1.5vw;
}



// Pagination Buttons
.paginationButtons{
    display: flex;
    width: 100%;
}
.paginationButtons .buttons{
    margin: auto;
}
.paginationButtons .buttons button{
    border-radius: 0px;
    border: 2px solid;
    margin: 5px;
}
.buttons #page{
    border: 2px solid #093273;
}

@media (max-width: 1024px) {
    .categories{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .productsContainer{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .Filter{
        margin-left: auto;
        margin-right: 10vw;
    }
}