*{
    margin:0 !important;
    font-family: Arial, Helvetica, sans-serif!important;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v129/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
body{
    margin:0px;
}
router-outlet{
    margin: 0px;
}
.outline{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    filter:drop-shadow(0px 0px 0px #ffff);
}
.blue{
    background-color: #0065E7;
    color: white;
}
.black{
    background-color: rgb(0, 0, 0);
    color: white;
}





// Side Nav

.logo {

    margin: 2vh;
    margin-bottom: 5vh;
    display:flex;
    justify-content: center;
}
.logo img{
    width: 60vw;
    height: 30vh;
    object-fit: cover;
    margin-left: 20vw;
}

mat-drawer{
    width: 30vw;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: rgb(25, 25, 25);
    overflow: hidden;
}
mat-drawer *{
    overflow: hidden;
}

mat-drawer-content {
    height: 100vh;
}

.upper-nav {
    width: 100%;
    height: 7.5vh;
    border-bottom: 1px solid #ccc;
    display: flex;
}

.menu-open-button {
    font-size: 5vh;
    height: 10vh;
    width: 10vh;
    margin-top: 1vh;
    margin-left: 1vh;
}

.upper-nav button {
    margin: auto;
    margin-right: 5vw;
    height: 80%;
}

.nav-button {
    width: 100%;
    height: 7.5vh;
    background-color: rgb(25, 25, 25);
    color: white !important;
    border-radius: 0px;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.455);
}

.nav-button-text {
    color: white;
    font-size: 8vw;
}

.active-nav-button {

    background-color: #0065E7;
}
@media screen and (max-width: 768px){
    mat-drawer{
        width: 100vw;
    }
}


.mat-menu-content {
    padding: 0px !important;
}
.searchBar{
    display:grid;
    justify-content: center;
}

.searchInput{
    width: 80%;
}
a{
    text-decoration: none;
}