<div id="cctv" class="categories-holder cctv" data-ix="fade-on-scroll-2">
  <h2>Cameras</h2>
  <div class="grid-container">
    <div class="individual-category grid-cell cell-1 cctv-categories" id="cctv-categoriesId">
      <a href="/products/cctv/cameras/fixed-marine-cameras">
        <div class="cctv-categories category-img _3 marine-cameras"></div>
        <div class="category-name">Fixed Marine Cameras</div>
      </a>
    </div>
    <div class="individual-category grid-cell cell-2 cctv-categories" id="cctv-categoriesId">
      <a href="/products/cctv/cameras/ptz-marine-cameras">
        <div class="cctv-categories category-img _3 marine-cameras"></div>
        <div class="category-name">PTZ Marine Cameras</div>
      </a>
    </div>
    <div class="individual-category grid-cell cell-3 cctv-categories" id="cctv-categoriesId">
      <a href="/products/cctv/cameras/fixed-hazardous-environment">
        <div class="cctv-categories hazardous-cameras category-img _4"></div>
        <div class="category-name">Fixed Hazardous Area/ Explosion Proof</div>
      </a>
    </div>
    <div class="individual-category grid-grid-cell cell grid-cell cell-4 cctv-categories" id="cctv-categoriesId">
      <a href="/products/cctv/cameras/ptz-hazardous-environment">
        <div class="cctv-categories hazardous-cameras category-img _4"></div>
        <div class="category-name">PTZ Hazardous Area/ Explosion Proof</div>
      </a>
    </div>
    <div class="individual-category grid-cell cell-5 cctv-categories" id="cctv-categoriesId">
      <a href="/products/cctv/cameras/thermal-cameras">
        <div class="cctv-categories thermal-cameras category-img _5"></div>
        <div class="category-name">Thermal Cameras</div>
      </a>
    </div>
    <div class="individual-category grid-cell cell-6 cctv-categories" id="cctv-categoriesId">
      <a href="/products/cctv/cameras/commercial">
        <div class="cctv-categories commercial-cameras category-img _6"></div>
        <div class="category-name">Commercial Cameras</div>
      </a>
    </div>
    <div class="individual-category grid-cell cell-7 cctv-categories" id="cctv-categoriesId">
      <a href="/products/cctv/cameras/prison">
        <div class="cctv-categories commercial-cameras category-img _6"></div>
        <div class="category-name">Prison Cameras</div>
      </a>
    </div>
    <div class="individual-category grid-cell cell-8 cctv-categories" id="cctv-categoriesId">
      <a href="/products/cctv/cameras/camera-accessories">
        <div class="cctv-categories commercial-cameras category-img _6"></div>
        <div class="category-name">Camera Accessories</div>
      </a>
    </div>
  </div>
</div>