<div class="category-section wf-section category-grid-container">
  <div class="category-grid-cell cat-cell-1">
    <a href="/products/cctv">
      <div class="individual-category cat-grid-cell">
        <div class="category-img"></div>
        <div class="category-name">CCTV Cameras & Housings</div>
      </div>
    </a>
  </div>
  <div class="category-grid-cell cat-cell-2">
    <a href="/products/cctv/cctv-nvr">
      <div class="individual-category">
        <div class="category-img"></div>
        <div class="category-name">CCTV Recorders</div>
      </div>
    </a>
  </div>
  <div class="category-grid-cell cat-cell-3">
    <a href="/products/cctv-monitors">
      <div class="individual-category">
        <div class="category-img"></div>
        <div class="category-name">CCTV Monitors</div>
      </div>
    </a>
  </div>
  <div class="category-grid-cell cat-cell-4">
    <a href="/products/cctv/security-management-software">
      <div class="individual-category">
        <div class="category-img"></div>
        <div class="category-name">Security Management Software</div>
      </div>
    </a>
  </div>
  <div class="category-grid-cell cat-cell-5">
    <a href="/products/cctv-transmission">
      <div class="individual-category">
        <div class="category-img"></div>
        <div class="category-name">CCTV Transmission Systems</div>
      </div>
    </a>
  </div>
  <div class="category-grid-cell cat-cell-6">
    <a href="/products/cctv-ancillaries">
      <div class="individual-category">
        <div class="category-img"></div>
        <div class="category-name">Ancillary Equipment</div>
      </div>
    </a>
  </div>
  <div class="category-grid-cell cat-cell-7">
    <a href="/products/cctv/marine-grade-cables">
      <div class="individual-category">
        <div class="category-img"></div>
        <div class="category-name">Marine Grade Cables</div>
      </div>
    </a>
  </div>
  <div class="category-grid-cell cat-cell-8">
    <a href="/products/">
      <div class="individual-category">
        <div class="category-img"></div>
        <div class="category-name">ANPR Systems</div>
      </div>
    </a>
  </div>
  <div class="category-grid-cell cat-cell-9">
    <a href="/products/">
      <div class="individual-category">
        <div class="category-img"></div>
        <div class="category-name">Access Control</div>
      </div>
    </a>
  </div>
  <div class="category-grid-cell cat-cell-10">
    <a href="/products/">
      <div class="individual-category">
        <div class="category-img"></div>
        <div class="category-name">Visitor Managemnt</div>
      </div>
    </a>
  </div>
  <div class="category-grid-cell cat-cell-11">
    <a href="/products/">
      <div class="individual-category">
        <div class="category-img"></div>
        <div class="category-name">Panic Alarm Systems</div>
      </div>
    </a>
  </div>
  <div class="category-grid-cell cat-cell-12">
    <a href="/products/">
      <div class="individual-category">
        <div class="category-img"></div>
        <div class="category-name">Interview Video Recording</div>
      </div>
    </a>
  </div>
</div>