
.categoryContainer {
    margin-top: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin:auto;
    display: flex;
    width: 80vw;
    gap: 1%;
    padding: 5vh;
}
.categoryContainer .categoryCard{
    width: 24%;
    border-radius:0px ;
    text-align: start;
}
.categoryCard h1{

    font-size: large;
}



mat-card{
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0%;
    box-shadow: none !important;
    // appearance: ;
}
mat-card-header{
    height: 12.5vh;
    align-items: center;
    text-align: center;
}



.categoryCard img{
    height: 20vh;
    object-fit: cover;
}
.categoryCard h1{
    padding-left: 2vh;
    margin-left: 5%;
}
.categoryCard span{
    // padding-bottom: 2vh;
    padding-left: 2vh;
    margin-left: 5%;
    display: flex;
    align-items: center !important;
}
span mat-icon{
    color: #093273;
    margin-left: 3%;
}
@media screen and (max-width: 1000px) {
    .categoryContainer .categoryCard{
        width: 31%;
    }
}
@media screen and (max-width: 750px) {
    .categoryContainer .categoryCard{
        width: 48%;
    }
}