<app-hero
    mainTitle="Services"
    secondaryTitle="Select the services you need"
    lowerTitle="We  can provide any or all  the support services your project requires from initial design through to ongoing support."
    [isButtons]="true"
    background="./assets/images/heroBackgrounds/serviceLanding.png"
    [button1Data]="{text:'See What It Costs', path:'',  type:'white'}"
    [button2Data]="{text:'Protect My Premise', path:'', type:'blue'}"

    ></app-hero>
    <section class="main">
        <div class="header">
            <h1>Our Services</h1>
            <span>Simply select the service(s) you require from Design, Documentation, System build, Test, Installation & Commissioning, Certification, Training through to Service Support.</span>
        </div>
        <!-- Categories Grabbed from Component Variable -->
        <div class="categoryContainer" fxLayout="row wrap" fxLayoutAlign="flex-start">
            <mat-card class="categoryCard" routerLink="/info-page/service/marine">
                <img mat-card-image src="./assets/images/exampleServiceImages/serviceExample1.png">
                <h1>System design</h1>
                <h3>Explore</h3>
            </mat-card>
            <mat-card class="categoryCard" routerLink="/info-page/service/marine">
                <img mat-card-image src="./assets/images/exampleServiceImages/serviceExample2.png">
                <h1>Build & Test</h1>
                <h3>Explore</h3>
            </mat-card>
            <mat-card class="categoryCard" routerLink="/info-page/service/marine">
                <img mat-card-image src="./assets/images/exampleServiceImages/serviceExample3.png">
                <h1>Service Support</h1>
                <h3>Explore</h3>
            </mat-card>
            <mat-card class="categoryCard" routerLink="/info-page/service/marine">
                <img mat-card-image src="./assets/images/exampleServiceImages/serviceExample4.png">
                <h1>Training</h1>
                <h3>Explore</h3>
            </mat-card>
        </div>
    </section>

<app-quote-form></app-quote-form>
