<app-hero
    mainTitle="Services"
    secondaryTitle="Select the services you need"
    lowerTitle="We  can provide any or all  the support services your project requires from initial design through to ongoing support."
    [isButtons]="true"
    background="./assets/images/heroBackgrounds/serviceLanding.png"
    [button1Data]="{text:'See What It Costs', path:'',  type:'white'}"
    [button2Data]="{text:'Protect My Premise', path:'', type:'blue'}"

    ></app-hero>
    <section class="main" *ngIf="serviceList">
        <div class="header">
            <h1>Our Services</h1>
            <span>Simply select the service(s) you require from Design, Documentation, System build, Test, Installation & Commissioning, Certification, Training through to Service Support.</span>
        </div>
        <!-- Categories Grabbed from Component Variable -->
        <div class="categoryContainer" fxLayout="row wrap" fxLayoutAlign="flex-start">
            <mat-card *ngFor="let service of serviceList" class="categoryCard" routerLink="/info-page/service/{{service._id}}">
                <img mat-card-image [src]="service.thumbnail_image">
                <h1>{{service.name}}</h1>
                <span>Explore <mat-icon>circle</mat-icon> </span>

            </mat-card>
        </div>
    </section>

<app-quote-form></app-quote-form>
