<app-hero 
    upperTitle="So you can relax like you're on a calm sea..." 
    mainTitle="Security solutions for peace of mind" 
    lowerTitle="We provide security requirements of residential, commercial and other clients, with the largest assortment of security cameras and alarm systems installation."
    [isButtons]="true"
    background="../../assets/images/heroBackgrounds/homeHero.png"
    [button1Data]="{text:'Explore Our Products', path:'', type:'blue'}"
    [button2Data]="{text:'Explore Our Markets', path:'', type:'black'}"

    [isButton3]="true"
    [button3Data]="{text:'Explore Our Services', path:'', type:'white'}"
></app-hero>


<section class="briefAbout">
    <div id="left">
        <p style="color:#0065E7;">+35 YEARS INDUSTRY EXPERIENCE </p>
        <h1>Professional products for durability</h1>
    </div>
    <div id="right">
        <p>Paragon Security employs a dedicated team of experienced professionals who will provide fire and security products and systems of the highest quality, reliability and durability, for your organisation, vessel or site providing the security and safety you deserve.</p>
    </div>

</section>

<!-- Product Categories -->
<div class="categoryContainer" fxLayout="row wrap" fxLayoutAlign="flex-start">
    
    <mat-card class="categoryCard" routerLink="/products/{{category._id}}" *ngFor="let category of productCategories">
        <img mat-card-image [src]="category.image">
        <h1>{{category.name}}</h1>
        <span>Explore</span>
        
    </mat-card>
</div>


<div class="serviceInfoCard">
    <img src="../../../assets/images/customIcons/warning.svg" alt="">
    <p>As leaders in marine and commercial security, we can help you customize a security system to meet your safety needs.
        Schedule A Visit
    </p>
    <button mat-raised-button class="quoteButton">Get Your Quote</button>
</div>


<section class="markets">
    <h1>Specialist market expertise</h1>
    <p>We are passionate about providing leading-edge and robust solutions, suitable for demanding markets and environments, which are straightforward to operate and maintain, certified for their use-class with ongoing support second to none. We lead the industry in the design, supply and support of harsh environment security systems with many years design & integration experience.</p>
</section>


<app-quote-form></app-quote-form>