
//General
::ng-deep{
    margin: 0px;
    font-family: 'roboto';
}
h1{
    font-size: 2vw;
}

// Top About
.briefAbout{
    display: flex;
    font-family: 'roboto';
}

.briefAbout #left, #right{
    margin: auto;
    width: 40vw;
}


// Market Section
.markets{
    background-color:#161616 ;
    color: white;
    padding: 5vw;
}


// Formatting for the Category Cards
.categoryContainer {
    margin-top: 1rem;
    display: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80vw;
    margin:auto;
}

.categoryContainer .categoryCard{
    width: 22%;
    margin: 1%;
    border-radius:0px ;
    text-align: start;

}
mat-card{
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0%;
}
mat-card-header{
    height: 12.5vh;
    align-items: center;
    text-align: center;
}

.categoryCard img{
    width: 100%;
    margin: auto;
}
.categoryCard h1{
    padding-left: 2vh;
    margin-left: 5%;
    font-size: x-large;
    width: min-content;
}
.categoryCard span{
    padding-bottom: 2vh;
    padding-left: 2vh;
    margin-left: 5%;
    width: min-content;
}
@media screen and (max-width: 1000px) {
    .categoryContainer .categoryCard{
        width: 31%;
    }
}
@media screen and (max-width: 750px) {
    .categoryContainer .categoryCard{
        width: 48%;
    }
}
@media screen and (max-width: 500px) {
    .categoryCard img{
        width: 60%;
        margin: auto;
    }
    .categoryContainer .categoryCard{
        width: 98%;
        display: flex;
    }
}

// 
.serviceInfoCard{
    display: flex;
    position: relative;
    border-radius:0px;
    width: 90vw;
    margin:auto;
    margin-top: 1vh;
    margin-bottom: -2rem;
    padding: 1vw;
    height: auto;
    background-color: white  ;
}
.serviceInfoCard img{
    position: relative;
    width: 2rem;
    height: 2rem;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.6);
    padding: 5px;
    border-radius: 100%;
}
.serviceInfoCard p{
    position: relative;
    display: flex;
    width: 50%;
    font-size: 0.75rem;
    font-weight: light;
    margin: auto;
    padding: 1%;
}
.serviceInfoCard .quoteButton{
    background-color: transparent;
    border: 2px solid black;
    width: 30vw;
    position: relative;
    margin: auto;
}