<app-hero 
    upperTitle="So you can relax like you're on a calm sea..." 
    mainTitle="Security solutions for peace of mind" 
    lowerTitle="We provide security requirements of residential, commercial and other clients, with the largest assortment of security cameras and alarm systems installation."
    [isButtons]="true"
    background="../../assets/images/heroBackgrounds/homeHero.png"
    [button1Data]="{text:'Explore Our Products', path:'', type:'blue'}"
    [button2Data]="{text:'Explore Our Markets', path:'', type:'black'}"

    [isButton3]="true"
    [button3Data]="{text:'Explore Our Services', path:'', type:'white'}"
></app-hero>


<section class="markets">
    <div id="left">
        <p style="color:#0065E7;">+25 YEARS INDUSTRY EXPERIENCE </p>
        <h1>High quality systems made by accredited manufacturers and installers</h1>
    </div>
    <div id="right">
        <p>Paragon Security is a specialist security solutions provider founded on first class customer service and support with decades of experience in the fields of CCTV, access control, visitor management, ANPR, intercoms and alarm systems. 
            <br><br>
            Our company has particular expertise and specialist knowledge in markets including:</p>
    </div>
    
</section>
<div class="serviceList" fxLayout="row wrap" fxLayoutAlign="flex-start">
    <mat-card class="serviceItem" *ngFor="let service of serviceList">
        <img mat-card-image [src]="service.image" alt="">
        <mat-card-header>
            <mat-card-title>{{service.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Explore</p>
            <mat-icon>fiber_manual_record</mat-icon>
        </mat-card-content>
    </mat-card>
</div>
<div class="serviceInfoCard">
    <img src="../../../assets/images/customIcons/warning.svg" alt="">
    <p>As leaders in marine and commercial security, we can help you customize a security system to meet your safety needs.
        Schedule A Visit
    </p>
    <button mat-raised-button class="quoteButton">Get Your Quote</button>
</div>
<app-quote-form></app-quote-form>