::ng-deep{margin: 0px;}

// Top About
.markets{
    display: flex;
    font-family: 'roboto';
}
.markets h1{
    font-size: 2vw;
}
.markets #left, #right{
    margin: auto;
    width: 40vw;
}
// Service List
.serviceList{
    display: flex;
    position: relative;
    width: 90vw;
    margin: auto;

}
.serviceItem{
    border-radius:0px;
    width: 24%;
    margin:auto;
}
.serviceItem mat-card-content{
    display: flex;
    vertical-align: middle;
}
.serviceInfoCard{
    display: flex;
    border-radius:0px;
    width: 90vw;
    margin:auto;
    margin-top: 1vh;
    margin-bottom: -2rem;
}
.serviceInfoCard p{
    width: 50%;
    font-size: 0.75rem;
    font-weight: light;
}
