<section id="container" *ngIf="elements">
        
        <div  *ngFor="let element of elements">
            <!-- Text Object -->
            <div *ngIf="element.type == 'text'">
                <h1>{{element.header}}</h1>
                <p>{{element.text}}</p>
            </div>

            <!-- Image Object -->
            <section class="image-Section" *ngIf="element.type == 'image'">
                <img class="image" *ngFor="let imgScr of element.images" [src]="imgScr" alt="">
            </section>

            <!-- Dropdown -->
            <mat-expansion-panel hideToggle  #panel  *ngIf="element.type == 'dropdown'">
                <mat-expansion-panel-header >
                    <mat-panel-title>
                        <img class="expansion-image" [ngClass]="{'expanded' : panel.expanded === true, 'closed' : panel.expanded === false}"  src="./assets/images/customIcons/right.svg" alt="">
                        {{element.header}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{element.text}}</p>
            </mat-expansion-panel>
        </div>

</section>

