<section id="container">
        <section class="text-Section">
        <h1>Overview</h1>
        <p>We have the expertise to address the complex issues of maritime applications with a wide range of specialist products and systems for professional video surveillance. Designed to withstand the most corrosive atmospheres, our cameras can be installed in marine environments onshore and offshore. <br> <br> 

            Organisations operating in coastal and marine environments require fully comprehensive and long-lasting CCTV systems that can enhance safety and security whilst optimising productivity.<br> <br>
            
            We offer a full range of stainless steel (AISI316L) and marine paint finish marine surveillance camera stations, equipment and accessories specifically designed to be installed in highly corrosive environments typical of the marine sector.<br> <br>
            
            Our products are designed to withstand harsh weather conditions, saltwater corrosion, and are each specially tested to rigorous IP67/68/69 standards. They are impervious to water, dust, shock, vibration and high impact.<br> <br>
            
            We offer a free design service. Please provide details of your ship’s CCTV requirements and we will submit a fully costed proposal detailing our initial recommendations.</p>
    </section>
    <section class="image-Section">
        <img class="image" src="./assets/images/exampleMarketImages/demoImg1.png" alt="">
        <img class="image" src="./assets/images/exampleMarketImages/demoImg2.png" alt="">
    </section>
</section>

