<section id="container" *ngIf="elements">
        
        <div  *ngFor="let element of elements">
            <!-- Text Object -->
            <div *ngIf="element.type == 'text'">
                <h1>{{element.header}}</h1>
                <p>{{element.text}}</p>
            </div>

            <!-- Image Object -->
            <div *ngIf="element.type == 'image'">
                <h1>{{element.header}}</h1>
                <section class="image-Section">
                <img class="image" *ngFor="let imgScr of element.src" [src]="imgScr" alt="">
                </section>
            </div>
            

            <!-- Dropdown -->
            <mat-expansion-panel class="dropdown-section" hideToggle  #panel  *ngIf="element.type == 'dropDown'">
                <mat-expansion-panel-header >
                    <mat-panel-title>
                        <img class="expansion-image" [ngClass]="{'expanded' : panel.expanded === true, 'closed' : panel.expanded === false}"  src="./assets/images/customIcons/right.svg" alt="">
                        {{element.header}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{element.text}}</p>
            </mat-expansion-panel>
            
            <div *ngIf="element.type == 'bulletPoint'">
                <h1>{{element.header}}</h1>
                <ul>
                    <li class="bulletPoint-text" *ngFor="let point of element.src">
                        <p>{{point}}</p>
                    </li>
                </ul>
               
            </div>

            <!-- similar Products -->
            <div class="similarProductsContainer" *ngIf="element.type == 'similarProducts'">
                <app-similar-products [categoryId]="element.text"></app-similar-products>
            </div>
        </div>

</section>



