*{
    font-family: 'roboto';
}
#container{
    padding-bottom: 10vh;
}

h1{
    font-size: 1.75rem;
}

p{
    color: #9B9B9B;
}
.bulletPoint-text{
    
  list-style-type: disc;
}

// Modular Styling Clases
.image-Section{
    display: flow-root;

}
.image-Section .image{
    margin: 2%;
    width: 46%;
}

// Drop Down Items
.dropdown-section{
    border-top: 3px solid #EAEAEA;
    box-shadow: none;
}
.expansion-image{
    margin-right: 5vw;
}

.expanded{
    
    animation: openAnimation 0.5s;
    transform:rotate(90deg); 
}
.closed{
    animation: closeAnimation 0.5s;
    transform:rotate(0deg); 
}

// Similar Products
.similarProductsContainer{
    width: 90%;
    margin-left:auto;
    margin-right: auto;
}


@keyframes openAnimation{
    from{
        transform: rotate(0deg)
    }
    to {
        transform: transform(90deg);
    }
}

@keyframes closeAnimation{
    from{
        transform: rotate(90deg);
    }
    to {
        transform: transform(0deg)
    }
}

@media screen and (max-width: 750px) {
    h1{
        text-align: center;
    }
}