.container{

    padding-left: 5vw;
    border-top: solid 1px #616161;
    border-bottom: solid 1px #616161;
    display: flex;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
}
.single-route-container{
    display:flex;
}
p{
    color:#616161;
    display: flex;
    cursor: pointer;
    font-size: small;
    margin:0px;
    
}
p:hover{
    text-decoration: underline;
}
.material-icon {
    margin-top:auto;
    margin-bottom: auto;
    font-size: 1.35rem;
    text-decoration: none !important;
}

// Special Cases
.lastRoute{
    color: #9B9B9B;
}