mat-toolbar{
    // min-height: 15vh;
    width: 100vw;
    height: min-content;
    display:flex;
    position: fixed;
    justify-content: space-between;
    z-index: 999;

}

// CSS behind toolbar background change
@keyframes toolbarBackgroundChange {
    from {background-color: rgba(255, 255, 255, 0);}
    to {background-color: rgba(34, 34, 34, 0.781)}
}
.scrolledToolbar{
    animation-name: toolbarBackgroundChange;
    animation-duration: 1.2s;
    background-color: rgba(34, 34, 34, 0.781);
    
}
.defaultToolbar{
    background-color: rgba(34, 34, 34, 0.781);
}

#navLogo{
    width:10vw;
    height: 10vh;
    object-fit: cover;
    cursor: pointer;
}
#navLogo:hover{
    background-color: rgba(34, 34, 34, 0.781);
}
.navLinks{
    margin: auto;
    width: auto;
    display: flex;
}
.navLink{
    height:10vh;
    color: white !important;
    font-size: 1vw;
    text-decoration: none;
}
::ng-deep .navLink{
    width: min-content + 10%;
}
.navLinkIcon{
    float: right;
}
// Styling for the dropdown
.mdc-list-item{
    border-radius: 0%;
    border-bottom: solid 1px #EAEAEA;
    // width: 80%;
    margin: auto;
    font-family: 'roboto';
    text-align: start;
}

// Search bar Icon
.searchBar{
    color: white;
}

// Contact Details & Icon Formatting
.contactDetails{
    margin:auto ;
    width: auto;
    height: min-content;
    display:flex;
    color: white !important;
    font-size: 0.75rem;
    // position:inherit;
    // float: left;

}
.contactDetails div{
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
}

// Styling of Phone Icon
.contactIconRing{
    border: solid 1px #0065E7;
    padding: -1rem;
    margin: auto;
    border-radius: 50%;
}
.contactIcon{
    float: left;
    // background-color: #0065E7;
    border-radius: 50%;
    visibility: hidden;

    width: 5vw;
    object-fit: cover;
}
@media (max-width:850px) {
    .contactDetails{
        visibility: hidden;
    }
    .navLink{
        font-size: 1.75vw;
        text-decoration: none;
    }
}



// Contact Icon
.contactIconRing {
    border-radius: 50%;
    margin: 10px;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


// SearchBar
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}

/* Font color */
input.mat-input-element {
    color: white;
}
.searchBar{
    display: flex;
    gap: 5%;
}


// Open Side Nav
.menuOpen{
    color: white;
    font-size: 3vw;
    visibility: hidden;
}


@media screen and (max-width: 1024px) {
    .menuOpen{
        visibility: visible;
    }
    .navLinks{
        visibility: hidden;
    }
    #navLogo{
        width: 15vw;
    }
    .searchBar{
        visibility: hidden;
    }
}