<mat-toolbar *ngIf="this.finalNav !== null"
    [ngClass]="scrolled ? 'scrolledToolbar': 'defaultToolbar'"
    class="{{navStyle}}"
    (window:scroll)="onWindowScroll($event)">
    <img id="navLogo" src="./assets/images/Paragon_V3-white.png" alt="">
    <div class="navLinks" >
        <!-- Home Button-->
        <a mat-button class="navLink" [routerLink]="finalNav.home.path">{{finalNav.home.name}}</a>

        <!-- (mouseenter)="menuTrigger.openMenu();"
                (mouseleave)="menuTrigger.closeMenu()" -->
        <!-- For Each Drop Down -->
        <div *ngFor="let menu of finalNav.dropDownMenus">
            <a mat-button class="navLink"
                [matMenuTriggerFor]='matmenu'
                [routerLink]="menu.headpath"
                #menuTrigger="matMenuTrigger"



                > {{menu.name}}</a>
            <mat-menu #matmenu="matMenu" class="navLink">
                <a class="navMenuDropdownItem" mat-menu-item *ngFor="let link of menu.childLinks" [routerLink]="link.path">{{link.name}}</a>
            </mat-menu>
        </div>


        <!-- Contact Button -->
        <a mat-button [routerLink]="finalNav.contact.path" class="navLink">Contact</a>
    </div>

    <div class="searchBar"><mat-icon>search</mat-icon></div>
    <div class="contactDetails">
            <img class="contactIconRing" src="./assets/images/customIcons/contactIcon.svg" alt="">

        <div>
            <p class="mat-headline-3">+44 (0)1245 280 448</p>
            <p class="mat-headline-4">info@paragon-security.com</p>
        </div>

    </div>
</mat-toolbar>
