<mat-toolbar
	*ngIf="this.finalNav !== null"
	[ngClass]="scrolled ? 'scrolledToolbar' : 'defaultToolbar'"
	class="{{ navStyle }}"
	(window:scroll)="onWindowScroll($event)">
	<div class="menuOpen">
		<mat-icon
			(click)="toggle()"
			class="menu-open-button"
			>menu</mat-icon
		>
	</div>

	<img
		id="navLogo"
		src="./assets/images/Paragon_V3-white.png"
		alt=""
		routerLink="" />
	<div
		class="navLinks"
		[class]="'nav-' + inputState"
		[@navShrink]="inputState">
		<!-- (mouseenter)="menuTrigger.openMenu();"
                (mouseleave)="menuTrigger.closeMenu()" -->

		<!-- About -->
		<div *ngIf="finalNav.about">
			<a
				mat-button
				class="nav-button"
				class="navLink"
				[routerLink]="finalNav.about.headpath">
				{{ finalNav.about.name }}</a
			>
		</div>

		<!-- Product -->
		<div *ngIf="finalNav.product">
			<a
				mat-button
				class="nav-button"
				class="navLink"
				[matMenuTriggerFor]="matproductmenu"
				#menuTrigger="matMenuTrigger"
				(mousedown)="menuTrigger.openMenu()"
				(click)="router.navigate([finalNav.product.headpath])">
				{{ finalNav.product.name }}</a
			>
			<mat-menu
				class="dropdown"
				#matproductmenu="matMenu">
				<div
					(click)="menuTrigger.closeMenu()"
					(mouseleave)="menuTrigger.closeMenu()">
					<a
						class="navMenuDropdownItem"
						mat-menu-item
						*ngFor="let link of finalNav.product.childLinks"
						[routerLink]="link.path"
						>{{ link.name }}</a
					>
				</div>
			</mat-menu>
		</div>

		<!-- Markets -->
		<div *ngIf="finalNav.market">
			<a
				mat-button
				class="navLink"
				[matMenuTriggerFor]="matmarketmenu"
				[routerLink]="finalNav.market.headpath"
				#menuTrigger="matMenuTrigger"
				(mousedown)="menuTrigger.openMenu()">
				{{ finalNav.market.name }}</a
			>
			<mat-menu
				class="dropdown"
				#matmarketmenu="matMenu">
				<div (mouseleave)="menuTrigger.closeMenu()">
					<a
						mat-menu-item
						class="navMenuDropdownItem"
						*ngFor="let link of finalNav.market.childLinks"
						[routerLink]="link.path"
						>{{ link.name }}</a
					>
				</div>
			</mat-menu>
		</div>

		<!-- Services -->
		<div *ngIf="finalNav.service">
			<a
				mat-button
				class="navLink"
				[matMenuTriggerFor]="matservicemenu"
				#menuTrigger="matMenuTrigger"
				(mousedown)="menuTrigger.openMenu()"
				[routerLink]="finalNav.service.headpath">
				{{ finalNav.service.name }}</a
			>
			<mat-menu
				class="dropdown"
				#matservicemenu="matMenu">
				<div (mouseleave)="menuTrigger.closeMenu()">
					<a
						class="navMenuDropdownItem"
						mat-menu-item
						*ngFor="let link of finalNav.service.childLinks"
						[routerLink]="link.path"
						>{{ link.name }}</a
					>
				</div>
			</mat-menu>
		</div>
		<!-- Services -->
		<div
			*ngIf="finalNav.resource"
			class="nav-button">
			<a
				mat-button
				class="navLink"
				[routerLink]="finalNav.resource.headpath">
				{{ finalNav.resource.name }}</a
			>
		</div>

		<!-- Contact -->

		<!-- News -->
		<div class="nav-button">
			<a
				mat-button
				class="navLink"
				routerLink="news">
				News</a
			>
		</div>
		<!-- Certifications -->
		<div class="nav-button">
			<a
				mat-button
				class="navLink"
				routerLink="accreditation">
				Certifications</a
			>
		</div>
		<div
			*ngIf="finalNav.contact"
			class="nav-button">
			<a
				mat-button
				class="navLink"
				[routerLink]="finalNav.contact.headpath">
				{{ finalNav.contact.name }}</a
			>
		</div>
	</div>

	<div class="searchBar">
		<mat-form-field
			[@inputWiden]="inputState"
			[class]="inputState">
			<mat-label>Search</mat-label>
			<input
				class="input"
				matInput
				placeholder="Press Enter to Search"
				[matMenuTriggerFor]="searchInput"
				#menuTrigger="matMenuTrigger"
				(keyup.enter)="onSearchChange(inputString.value); menuTrigger.openMenu()"
				#inputString />
		</mat-form-field>
		<a
			class="searchIcon"
			(click)="activateSearch()"
			><mat-icon>search</mat-icon></a
		>
		<mat-menu
			class="dropdown"
			#matservicemenu="matMenu"
			#searchInput="matMenu"
			(mouseleave)="menuTrigger.closeMenu()">
			<div *ngIf="searchData?.product">
				<h4 mat-menu-item>Products</h4>
				<div *ngFor="let product of searchArray; let i = index">
					<a
						mat-menu-item
						*ngIf="i < 3"
						[routerLink]="'/product/' + product._id">
						<p>{{ product.product_name }}</p>
					</a>
				</div>
			</div>
			<div *ngIf="searchData?.category">
				<h4 mat-menu-item>Categories</h4>
				<div *ngFor="let category of searchData.category; let i = index">
					<a
						mat-menu-item
						*ngIf="i < 3"
						[routerLink]="category.cat_url">
						<p>{{ category.name }}</p>
					</a>
				</div>
			</div>
			<div *ngIf="searchData?.info">
				<h4 mat-menu-item>Information</h4>
				<div *ngFor="let info of searchData.info; let i = index">
					<a
						mat-menu-item
						*ngIf="i < 2"
						[routerLink]="'/info-page/' + info.type + '/' + info._id">
						<p>{{ info.name }}</p>
					</a>
				</div>
				<div *ngIf="searchData?.page">
					<div *ngFor="let page of searchData.page; let i = index">
						<div
							mat-menu-item
							*ngIf="i < 2">
							<p>{{ page.name }}</p>
						</div>
					</div>
				</div>
				<div
					class="linkContainer"
					*ngIf="searchData !== {}">
					<a
						class="link"
						routerLink="searchAll/{{ inputString.value }}"
						>See All</a
					>
				</div>
			</div>
		</mat-menu>
	</div>
	<div class="contactDetails">
		<img
			class="contactIconRing"
			src="./assets/images/customIcons/contactIcon.svg"
			alt="" />

		<div>
			<p class="mat-headline-3">
				<a href="tel:00441245280448">+44 (0)1245 280 448</a>
			</p>

			<p class="mat-headline-4">
				<a href="mailto:info@paragon-security.co.uk">info@paragon-security.com</a>
			</p>
		</div>
	</div>
	<a
		href="https://wa.me/message/HUWKD4YXGJK5I1"
		id="whatsapp"
		><mat-icon>whatsapp</mat-icon></a
	>
</mat-toolbar>
