.news-card-wrapper {
	padding: 2%;
	display: flex;
	flex-direction: column;
	gap: 2em;

}
h2.title {
	font-size: 1.5em;
	font-weight: 700;
	font-family: roboto;
	margin-bottom: 1.5em;
}

.dialog-container{
	margin: 2%;
	border-radius: 0;
	padding: 2%;
	display: flex;
	flex-direction: column;
	overflow-y: visible;
	height: max-content
}

mat-card-header {
	padding: 0
}

mat-card-content {
	padding: 0
}

mat-card-footer {
	margin-top: 2em;
	// padding: 2%
}