.news-card-wrapper {
	padding: 2%;
	display: flex;
	flex-direction: column;
	gap: 2em;

}

h2.title {
	font-size: 1.5em;
	font-weight: 700;
	font-family: roboto;
	margin-bottom: 1.5em;
}

.dialog-container {

	margin: 2%;
	border-radius: 0;
	padding: 2%;
	display: flex;
	flex-direction: column;
	overflow-y: visible;
}


mat-card-header {
	padding: 0
}

mat-card-content {
	padding: 0
}

.date-wrapper {
	width: 100%;
	font-family: 'roboto';
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

mat-card-footer {
	margin-top: 2em;
	// padding: 2%
}

.mat-mdc-mini-fab.mat-accent {
	--mdc-fab-container-color: #0065E7;
	box-shadow: unset;
}

@media screen and (max-width: 750px) {
	.dialog-container {

		width: 80vw;
		height: 100vh;
	}

}