::ng-deep{
    margin-top: 0px;
}


section{
    width: 100%;
    background: linear-gradient(90deg, rgba(0,101,231,1) 0%, rgba(0,101,231,0.1881127450980392) 100%);
    padding-top:5vh ;
    padding-bottom: 5vh;
    display: flow-root;
}

mat-card{
    width: 70vw;
    margin: auto;
    padding: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 10px;
}
.header{
    width: 80%;
    margin: auto;
    margin-bottom: 2vh;
}
form{
    display:block;
    width: 85%;
    margin: auto;
}
form *{
    border-radius: 0px !important;
    
}
mat-form-field{
    width: 100%;
    background-color: transparent !important;
    text-align: center;
    justify-content: center;
    align-items: center;

}
// .mdc-text-field--outlined { 
//     position: relative; 
//     bottom: .25em; 
//     border: 1px solid red !important;
// }
p{
    color: #9B9B9B;
    font-family: 'Roboto';
}
.half-width{
    position:relative;
    width: 49%;
    margin:0.5%;
}

// Button Themeing

button{
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.494);
    color: white;
    filter:drop-shadow(0px 0px 0px #ffff);
    width: 50%;
    margin: auto;
    height: 30%;
    
}