<section>
	<mat-card>
		<mat-card-header>
			<div class="header">
				<h1>Contact Us Now</h1>
				<p>
					For information please complete the form below, send us a <a
                    href="https://wa.me/message/HUWKD4YXGJK5I1"
                    id="whatsapp"
                    >whatsapp</a
                > <mat-icon class="whatsapp-icon">Whatsapp</mat-icon> message, or
					call us <a href="00441245210914">+44 (0)1245 210 914</a> and our
					specialists will pleased to help!
				</p>
			</div>
		</mat-card-header>
		<mat-card-content>
			<form
				[formGroup]="message"
				(ngSubmit)="submitForm()">
				<mat-form-field
					class="form-input"
					appearance="outline">
					<mat-label>Name</mat-label>
					<input
						style="text-align: left"
						matInput
						type="text"
						formControlName="firstName" />
				</mat-form-field>
				<mat-form-field
					class="form-input"
					appearance="outline">
					<mat-label>Email Address</mat-label>
					<input
						style="text-align: left"
						matInput
						type="text"
						formControlName="email" />
				</mat-form-field>

				<div class="form">
					<mat-form-field
						class="form-input half-width"
						appearance="outline">
						<mat-label>Phone Number</mat-label>
						<input
							style="text-align: left"
							matInput
							type="tel"
							formControlName="phoneNumber" />
					</mat-form-field>
					<mat-form-field
						class="form-input half-width"
						appearance="outline">
						<mat-label>Organisation</mat-label>
						<input
							style="text-align: left"
							matInput
							type="text"
							formControlName="organisation" />
					</mat-form-field>
				</div>
				<mat-form-field
					class="form-input"
					appearance="outline">
					<mat-label>Location</mat-label>
					<input
						style="text-align: left"
						matInput
						type="text"
						formControlName="location" />
				</mat-form-field>
				<mat-form-field
					class="form-input"
					appearance="outline">
					<mat-label>Subject</mat-label>
					<input
						style="text-align: left"
						matInput
						type="text"
						formControlName="subject" />
				</mat-form-field>
				<mat-form-field
					class="form-input"
					appearance="outline">
					<mat-label>Message</mat-label>
					<textarea
						matInput
						cdkTextareaAutosize
						#autosize="cdkTextareaAutosize"
						cdkAutosizeMinRows="5"
						formControlName="message"></textarea>
				</mat-form-field>

				<button
					mat-flat-button
					type="submit">
					Submit Your Message
				</button>
			</form>
		</mat-card-content>
	</mat-card>
</section>
