<section>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Request A Quote
            </mat-card-title>
            <mat-card-subtitle>
                <span>Please complete the form below, to request a quote, and we’ll be in touch. Or you can call us +44 (0)1245 210 914 and our specialists will provide the necessary help!</span>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            
            <form action="" #ngform>
                <mat-form-field class="form-input" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field class="form-input" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field class="form-input" appearance="outline">
                    <mat-label>Email adress</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field class="form-input half-width" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="number">
                </mat-form-field>
                <mat-form-field class="form-input half-width" appearance="outline">
                    <mat-label>Organisation</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </form>
        </mat-card-content>
        
    </mat-card>
</section>

