section{
    width: 100%;
    background: linear-gradient(90deg, rgba(0,101,231,1) 0%, rgba(0,101,231,0.1881127450980392) 100%);
    padding-top:5vh ;
    padding-bottom: 5vh;
}

mat-card{
    width: 70vw;
    margin: auto;
    padding: 5vw;
}
form{
    display: flow-root;
}
mat-form-field{
    width: 100%;
    background-color: transparent !important;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.mat-form-field-appearance-outline .mat-form-field-infix .mat-input-element { 
    position: relative; 
    bottom: .25em; 
}
span{
    color: #9B9B9B;
    font-family: 'Roboto';
}
.half-width{
    width: 50%;
}