

<section>
    <div class="breadcrumb-bar">
        <!-- <app-breadcrumbs [history]="history"></app-breadcrumbs> -->
    </div>
    <section class="productMain"  fxLayout="row wrap" fxLayoutAlign="flex-start" *ngIf="product !== null">

        <div class="card">
            <mat-card>


                <mat-card-header>
                    <mat-card-title>
                        {{product.product_name}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <img class="main-img" mat-card-image *ngIf="product.image !== ''" [src]="product.image">
                    <img class="main-img" mat-card-image *ngIf="product.image == ''" src="./assets/images/ExampleProducts/defaultImage.jpg">
                </mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
            <mat-card-header>
                <button mat-raised-button class="" routerLink="/contactForm">Get A Quote <mat-icon iconPositionEnd>calendar</mat-icon></button>
                <button mat-raised-button class="black" href="">Email Us</button>
                <button mat-raised-button class="black" routerLink="/contactForm">Call Us</button>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <span *ngFor="let feature of product.features">
                        <span class="dot"></span>
                        {{feature |characterValidation}}
                        <br><br>  </span>
                        Part No: <span> {{product.product_code}} </span><br>
                        Category: <span>{{product.category.name}}</span> <br>

                </p>
                <div *ngIf="productVarients">
                    <h2>{{product.product_varients.friendly}}</h2>
                    <mat-chip-listbox aria-label="Fish selection">
                        <div *ngFor="let option of productVarients; let i = index">
                            <mat-chip-option (click)="selectVarient(i)">{{option.model_no}}</mat-chip-option>
                        </div>
                    </mat-chip-listbox>

                </div>

            </mat-card-content>
            </mat-card>
        </div>




    </section>
</section>

<section class="productTabs" *ngIf="product !== null">
    <mat-tab-group  mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Description" >
            <p>{{product.description}}</p>
        </mat-tab>
        
        <mat-tab *ngIf="(product.tech_images !== [] && product.tech_images !== undefined)" label="Technical Images">
            Content 3
        </mat-tab>
        <mat-tab label="Specifications">
            <table class="prodcutSpecTable" mat-table  [dataSource]="additionalInfo" class="mat-elevation-z8">
<!--
                - Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

                <ng-container matColumnDef="detail">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element"> {{element.name | nameConverter}} </td>
                </ng-container>

                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element" class="specValue"> {{element.value | characterValidation}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-tab>
        
        <mat-tab label="Drawings" *ngIf="product.tech_drawings.length >1 ">Drawings</mat-tab>
        <mat-tab label="Gallery" *ngIf="(product.gallery !== [] && product.gallery !== undefined)">

        </mat-tab>
        <mat-tab label="Downloads">Downloads</mat-tab>

    </mat-tab-group>
</section>
<section class="similarProductsInfo" *ngIf="product">
    <div class="similarProductsHeader">
        <h1>Related Products</h1>


    </div>
    <app-similar-products *ngIf="product.category[0] !== undefined" [categoryId]="product.category[0]._id "></app-similar-products>

</section>
