<section class="productMain"  fxLayout="row wrap" fxLayoutAlign="flex-start" *ngIf="product !== null">
    <div class="card">
        <mat-card>

        
            <mat-card-header>
                <mat-card-title>
                    {{product.product_name}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img [src]="product.image" alt="">
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card">
        <mat-card>
        <mat-card-header>
            <button mat-raised-button class="black">Get a Quote</button>
            <button mat-raised-button class="blue">Send An Email</button>
            <button mat-raised-button class="outline">Phone Us</button>
        </mat-card-header>
        <mat-card-content>
            <p>
                <span *ngFor="let feature of product.features">
                    <span class="dot"></span>
                    {{feature}} 
                    <br><br>  </span>
            </p>
            <div class="classifications">
                <p>
                    Part No: <span> {{product.product_code}} </span><br>
                    Category: <span>{{product.category}}</span> <br>
                    <!-- Tags: <span *ngFor="let tag of tags">{{tag}}, </span> -->

                </p>
            </div>
        </mat-card-content>
        </mat-card>
    </div>

    
    
    
    
</section>
<section class="productTabs" *ngIf="product !== null">
    <mat-tab-group  mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Description" >
            <p>{{product.description}}</p>
        </mat-tab>
        <mat-tab label="Specifications">
            Content 2
        </mat-tab>
        <mat-tab label="Drawings">
            Content 3
        </mat-tab>
        <mat-tab label="Gallery">
            Content 3
        </mat-tab>
        <mat-tab label="Downloads">
            Content 3
        </mat-tab>
    </mat-tab-group>
</section>
<section class="similarProductsInfo">
    <div class="similarProductsHeader">
        <h1>Our Services</h1>
    </div>
    <div class="similarProductsContainer" fxLayout="row wrap" fxLayoutAlign="flex-start">
        <mat-card class="similarProductsCard" *ngFor="let product of similarProducts">
            <img mat-card-image [src]="product.image">
            <mat-card-header>
                <mat-card-title-group></mat-card-title-group>
            </mat-card-header>
            <h4>{{product.product_name}}</h4>
        </mat-card>
    </div>
    
</section>
